{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers for this event

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="success-screen" method="post">

        <h1 class="govuk-heading-xl">Check your answers for this event</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did any events happen on the journey?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which country were the goods in when the event happened?
              </dt>
              <dd class="govuk-summary-list__value">
                Germany
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Where did the event happen?
              </dt>
              <dd class="govuk-summary-list__value">
                Berlin
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Has this event been reported to customs?
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Yes</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Different vehicle and container</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did the goods move to a different vehicle or container?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What did the goods move to?
              </dt>
              <dd class="govuk-summary-list__value">
                Vehicle
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the vehicle name, registration or reference?
              </dt>
              <dd class="govuk-summary-list__value">
                KL25 PM5
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which country is the vehicle registered in?
              </dt>
              <dd class="govuk-summary-list__value">
                Lithuania
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
          </dl>

          

         

          <!-- <h2 class="govuk-heading-m">Changed seals</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have any of the seals changed?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
          </dl>

          <h3 class="govuk-heading-s">Seal numbers</h3>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__value">
                6339
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="new-seal-number.html">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  9857
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="new-seal-number-2.html">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  2287
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <p style="margin-top: 15px;"><a href="seal-list.html">Add or remove seals</a><p>
          </dl> -->


        {{ govukButton({
            text: "Save and continue",
            href: "event-list"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}