{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      NCTS Homepage
    </h1>

    <p class="govuk-body"><a href="#">Create new arrival</a></p>

    <p class="govuk-body"><a href="#">Create new departure</a></p>

    <!--
      Arrivals
    -->

    <h2 class="govuk-heading-l">Arrivals</h2>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">11/11/19 11:13 (last updated)</h3>
    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">MRN</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">10GB000060100C06E0</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Message</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third"><a href="#">Goods released</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Presenter</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">Corleone</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Office</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">GB000060</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Procedure</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">Normal</span>
      </div>
    </div>

    <br><br><br>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">10/11/19 08:00 (last updated)</h3>
    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">MRN</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">LS20090910MRN0001654</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Message</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third"><a href="#">Arrival Notification Rejected</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Presenter</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">45644441234569</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Office</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">GB000218</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Procedure</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">Simplified</span>
      </div>
    </div>

    <br><br><br>

    <!--
      Departures
    -->

    <h2 class="govuk-heading-l">Departures</h2>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">11/11/19 15:25 (last updated)</h3>
    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">LRN</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">10GB000060100C06E0</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">MRN</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">10GB000060100C06E0</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Message</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third"><a href="#">Declaration rejected</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Principal</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">	NCTS UK TEST LAB HMCE</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Office</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">GB000060</span>
      </div>
    </div>

    <br><br><br>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">11/11/19 15:25 (last updated)</h3>
    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">LRN</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">10GB000060100C06E0</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Message</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third"><a href="#">Declaration rejected</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Principal</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">	NCTS UK TEST LAB HMCE</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-two-thirds govuk-!-font-weight-regular">Office</span>
        <span class="govuk-summary-list__value govuk-!-width-one-third">GB000060</span>
      </div>
    </div>

    <br><br><br>



  </div>
</div>
{% endblock %}
