{% extends "layout.html" %}

{% block pageTitle %}
What is the new container number of the vehicle?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">What is the new container number?</h1>

    <form class="form" action="container-list" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        classes: "govuk-input--width-20",
    id: "new-container-number",
    name: "new-container-number"
  }) }}


      {{ govukButton({
    text: "Save and continue"
  }) }}

    </form>
    <p><a href="homepage.html">Go back to manage transit movements</a></p>

  </div>
</div>

{% endblock %}