{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Homepage versions
      </h1>

      <h2 class="govuk-heading-l">
        Version 4
       </h2>
 
       <p><a href="../arrivals/version-3/homepage.html">Homepage</a><br>moved drafts into separate sections</p>


      <h2 class="govuk-heading-l">
        Version 3
       </h2>
 
       <p><a href="version-3/homepage">Homepage - with content designers’ wording</a><br>Do we want to add number of drafts/declarations/notifications to this page?</p>

      <h2 class="govuk-heading-l">
       Version 2
      </h2>

      <p><a href="version-2/homepage">Homepage</a></p>
      <p><a href="version-2/homepage-2">Homepage idea 2</a></p>
      <p><a href="version-2/homepage-3">Homepage - agreed starting point</a></p>

      <h2 class="govuk-heading-l">
       Version 1 ideas
      </h2>

      <p><a href="version-1/homepage-list">List view</a></p>
      <p><a href="version-1/homepage-summary-table">Summary table</a></p>
      <p><a href="version-1/homepage-overview">Overview page with individual detail page</a></p>




    </div>
  </div>

{% endblock %}
