{% extends "layout.html" %}

{% block pageTitle %}
What is the access code? {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data['guaranteeSummary'] }}</span>
    <form class="form" action="check-answers" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <h1 class="govuk-heading-xl">What is the access code?</h1>
      {{ govukInput({
        label: {
          text: ""
        },
        type: "password number",
        id: "access-code",
        classes: "govuk-input--width-5",
        name: "access-code"
      }) }}


      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}