{% extends "layout.html" %}

{% block pageTitle %}
There is a problem with this arrival notification
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="correct-mrn-error" method="post">

    <h1 class="govuk-heading-xl">There is a problem with this arrival notification</h1>

    <p class="govuk-heading-body">There is conflicting information </strong> that must be fixed.</p>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Error code
            </dt>
            <dd class="govuk-summary-list__value">
            12
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Pointer
            </dt>
            <dd class="govuk-summary-list__value">
            TRD.TIN
            </dd>
        </div>
    </dl>

    <p class="govuk-body">You can:</p>
    <ol class="govuk-list govuk-list--bullet">
      <li><a href="../movement-reference">create a new arrival notification</a></li>
      <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries" target="blank"> contact the New Computerised Transit System helpdesk to fix the information (opens in a new window or tab)</a></li>
    </ol>

    {# <p class="govuk-body"><a href="../movement-reference">Create a new movement</a></p>

    <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries" target="blank">Contact the New Computerised Transit System helpdesk (opens in a new window or tab)</a></p> #}


    {# <ul class="govuk-list">
      <li>
        <a href="../movement-reference">Create a new movement</a>
      </li>
      <li>
        <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries" target="blank">Contact the New Computerised Transit System helpdesk (opens in a new window or tab)</a>
      </li>
    </ul> #}

    {# <p class="govuk-body">You can either <a href="../movement-reference">create a new movement</a> or 
    <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries" target="blank"> contact the New Computerised Transit System helpdesk (opens in a new window or tab)</a>.</p> #}


    {# <p class="govuk-body">You must <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries" target="blank">contact the New Computerised Transit System helpdesk (opens in a new window or tab)</a>.</p> #}

    </form>

  </div>
</div>

{% endblock %}