{% extends "layout.html" %}

{% block pageTitle %}
View history {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
            <h1 class="govuk-heading-xl">History</h1>

            <h2 class="govuk-heading-m">Unloading remarks sent</h2>

            <p>15 January 2020 at 08:17am</p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="govuk-heading-m">You can unload</h2>

            <p>11 January 2020 at 9:21am</p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="govuk-heading-m">Arrival notification sent</h2>

            <p>11 January 2020 at 9:19am</p>

            <p><a href="../view-arrival-notification">View arrival notification</a></p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p><a href="../arrivals-history.html" class="govuk-link">Go back to arrival notifications</a></p>

        </div>
    </div>

{% endblock %}