{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers for this event

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="success-screen" method="post">

                <h1 class="govuk-heading-xl">Check your answers for this event</h1>

        {% set eventInfo = [] %}

        {% set eventInfo = (eventInfo.push(
                  {
                    key: {
                      text: "Did any events happen on the journey?"
                    },
                    value: {
                      text: data['something-happened']
                    },
                    actions: {
                      items: [
                        {
                          href: "something-happened",
                          text: "Change",
                          visuallyHiddenText: "if something happened"
                        }
                      ]
                    }
                  },
                  { 
                    key: {
                      text: "Which country were the goods in when the event happened?"
                    },
                    value: {
                      text: data['event-country']
                    },
                    actions: {
                      items: [
                        {
                          href: "event-country",
                          text: "Change",
                          visuallyHiddenText: "which country the event happened in"
                        }
                      ]
                    }
                  },
                  { 
                    key: {
                      text: "Where did the event happen?"
                    },
                    value: {
                      text: data['event-place']
                    },
                    actions: {
                      items: [
                        {
                          href: "event-place",
                          text: "Change",
                          visuallyHiddenText: "where the event happened"
                        }
                      ]
                    }
                  },
                  { 
                    key: {
                      text: "Has this event been reported to customs?"
                    },
                    value: {
                      text: data['event-report']
                    },
                    actions: {
                      items: [
                          {
                            href: "event-report",
                            text: "Change",
                            visuallyHiddenText: "if the event has been reported"
                          }
                      ]
                    }
                  }
                  ), eventInfo) %}

        {% set vehicleContainer = [] %}


        {% set vehicleContainer = (vehicleContainer.push(
          
          { 
            key: {
              text: "Did the goods move to a different vehicle or container?"
            },
            value: {
              text: data['change-vehicle']
            },
            actions: {
              items: [
                {
                  href: "change-vehicle",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          }
      ), vehicleContainer) %}

        {% if (data['change-vehicle'] == "No") %}
          {% set vehicleContainer = (vehicleContainer.push(
          { 
            key: {
              text: "What happened on route?"
            },
            value: {
              text: data['what-happened']
            },
            actions: {
              items: [
                {
                  href: "incident-information",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          }
      ), vehicleContainer) %}
        {% endif %}

        {% if (data['change-vehicle'] == "Yes") %}
          {% set vehicleContainer = (vehicleContainer.push(
          { 
            key: {
              text: "What did the goods move to?"
            },
            value: {
              text: "Container and vehicle"
            },
            actions: {
              items: [
                {
                  href: "new-transport-type",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          }
      ), vehicleContainer) %}
        {% endif %}

        {% if (data['new-transport-type'] == "Vehicle") %}
          {% set vehicleContainer = (vehicleContainer.push(
          { 
            key: {
              text: "What is the vehicle name, registration or reference?"
            },
            value: {
              text: data['vehicle-reference']
            },
            actions: {
              items: [
                {
                  href: "vehicle-reference",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          },
          { 
            key: {
              text: "Which country is the vehicle registered in?"
            },
            value: {
              text: data['vehicle-country']
            },
            actions: {
              items: [
                {
                  href: "vehicle-country",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          }
      ), vehicleContainer) %}
        {% endif %}

        {% if (data['new-transport-type'] == "Container") %}
          {% set vehicleContainer = (vehicleContainer.push(
          { 
            key: {
              text: "What is the new container number?"
            },
            value: {
              text: data['new-container-number']
            },
            actions: {
              items: [
                {
                  href: "new-container-name",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          }
      ), vehicleContainer) %}
        {% endif %}

        {% set newContainer = [] %}


        {% if (data['new-transport-type'] == "Both") %}
          {% set newContainer = (newContainer.push(
            { 
              key: {
                text: "66967526735625"
              },
              value: {
                html: ''
              },
              actions: {
                items: [
                  {
                    href: "seal-list",
                    text: "Change",
                    visuallyHiddenText: "if the event was reported in "
                  }
                ]
              }
            },
            { 
                key: {
                  text: "90811526735625"
                },
                value: {
                  html: ''
                },
                actions: {
                  items: [
                    {
                      href: "seal-list",
                      text: "Change",
                      visuallyHiddenText: "if the event was reported in "
                    }
                  ]
                }
              }
      ), newContainer) %}
        {% endif %}

        {% set newVehicle = [] %}


        {% if (data['new-transport-type'] == "Both") %}
          {% set newVehicle = (newVehicle.push(
            
            { 
            key: {
              text: "What is the vehicle name, registration or reference?"
            },
            value: {
              text: data['vehicle-reference']
            },
            actions: {
              items: [
                {
                  href: "vehicle-reference",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          },
          { 
            key: {
              text: "Which country is the vehicle registered in?"
            },
            value: {
              text: data['vehicle-country']
            },
            actions: {
              items: [
                {
                  href: "vehicle-country",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          }
          
      ), newVehicle) %}
        {% endif %}

        {% set sealInfo = [] %}

        {% set sealInfo = (sealInfo.push(
          {
            key: {
              text: "Have any of the seals changed?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "seals-changed",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
      ), sealInfo) %}

      {% set newSeal = [] %}

        {% set newSeal = (newSeal.push(  
          { 
            key: {
              html: '7678'
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "new-seal-number",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          },
          { 
            key: {
              html: '7078'
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "new-seal-number",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          },
          { 
            key: {
              html: '7998'
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "new-seal-number",
                  text: "Change",
                  visuallyHiddenText: "if the event was reported in "
                }
              ]
            }
          }
      ), newSeal) %}
      
      
          

        {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: eventInfo
        }) }}

        <h2 class="govuk-heading-m">Different vehicle and container</h2>

        {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: vehicleContainer
        }) }}

        <h2 class="govuk-heading-s">Container numbers</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: newContainer
        }) }}

        <p><a href="container-list.html">Add or remove containers</a><p>


        <h2 class="govuk-heading-s">Vehicle information</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: newVehicle
        }) }}


        <h2 class="govuk-heading-m">Changed seals</h2>

        {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: sealInfo
        }) }}

        <h2 class="govuk-heading-s">Seal numbers</h2>

        {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: newSeal
        }) }}

        <p><a href="seal-list">Add or remove seals</a><p>

       

        {{ govukButton({
                text: "Save and continue",
                href: "event-list"
                }) }}

      </form>
    </div>
  </div>

{% endblock %}