{% extends "layout.html" %}

{% block pageTitle %}
What is the mode crossing the border? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <span class="govuk-caption-xl">{{ data['transportDetails'] }}</span>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "mode-crossing-border",
          name: "mode-crossing-border",
          fieldset: {
            legend: {
              text: "What is the mode crossing the border?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "(17) (semi)Trailer on sea-going vessel, redirect(nationality-crossing-border)",
              text: "(17) (semi)Trailer on sea-going vessel"
            },
            {
              value: "(4) Air transport, redirect(nationality-crossing-border)",
              text: "(4) Air transport"
            },
            {
              value: "(40) Air transport, redirect(nationality-crossing-border)",
              text: "(40) Air transport"
            },
            {
              value: "(7) Fixed transport installations, redirect(../check-your-answers)",
              text: "(7) Fixed transport installations"
            },
            {
              value: "(70) Fixed transport installations, redirect(../check-your-answers)",
              text: "(70) Fixed transport installations"
            },
            {
              value: "(80) Inland waterway transport, redirect(nationality-crossing-border)",
              text: "(80) Inland waterway transport"
            },
            {
              value: "(8) Inland waterway transport, redirect(nationality-crossing-border)",
              text: "(8) Inland waterway transport"
            },
            {
              value: "(18) Inland waterway vessel on sea-going, redirect(nationality-crossing-border)",
              text: "(18) Inland waterway vessel on sea-going"
            },
            {
              value: "(90) Own propulsion, redirect(nationality-crossing-border)",
              text: "(90) Own propulsion"
            },
            {
              value: "(9) Own propulsion, redirect(nationality-crossing-border)",
              text: "(9) Own propulsion"
            },
            {
              value: "(5) Postal Consignment, redirect(../check-your-answers)",
              text: "(5) Postal Consignment"
            },
            {
              value: "(50) Postal Consignment, redirect(../check-your-answers)",
              text: "(50) Postal Consignment"
            },
            {
              value: "(16) Powered road vehicle on sea-going, redirect(nationality-crossing-border)",
              text: "(16) Powered road vehicle on sea-going"
            },
            {
              value: "(2) Rail transport, redirect(../check-your-answers)",
              text: "(2) Rail transport"
            },
            {
              value: "(20) Rail transport, redirect(../check-your-answers)",
              text: "(20) Rail transport"
            },
            {
              value: "(12) Railway wagon on sea-going vessel, redirect(../check-your-answers)",
              text: "(12) Railway wagon on sea-going vessel"
            },
            {
              value: "(3) Road transport, redirect(nationality-crossing-border)",
              text: "(3) Road transport"
            },
            {
              value: "(30) Road transport, redirect(nationality-crossing-border)",
              text: "(30) Road transport"
            },
            {
              value: "(23) Road vehicle on railwagon, redirect(nationality-crossing-border)",
              text: "(23) Road vehicle on railwagon"
            },
            {
              value: "(1) Sea transport, redirect(nationality-crossing-border)",
              text: "(1) Sea transport"
            },
            {
              value: "(10) Sea transport, redirect(nationality-crossing-border)",
              text: "(10) Sea transport"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a>

      </form>

  </div>
</div>

{% endblock %}
