{% extends "layout.html" %}

{% block pageTitle %}
Which type of guarantee is being used? {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data['guaranteeSummary'] }}</span>
    <form class="form" action="liability-amount" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--stacked",
        idPrefix: "guaranteeType",
        name: "guaranteeType",
        fieldset: {
          legend: {
            text: "Which type of guarantee is being used?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
         {
          value: "(0) Guarantee waiver redirect(guarantee-reference)",
          text: "(0) Guarantee waiver"
        },
        {
          value: "(1) Comprehensive guarantee redirect(guarantee-reference)",
          text: "(1) Comprehensive guarantee"
        },
        {
          value: "(2) Individual guarantee redirect(guarantee-reference)",
          text: "(2) Individual guarantee"
        }, 
        {
          value: "(4) Flat-rate voucher redirect(guarantee-reference)",
          text: "(4) Flat-rate voucher"
        },
          {
            value: "(3) Cash deposit guarantee redirect(other-reference)",
            text: "(3) Cash deposit guarantee"
          },

              {
            value: "(7) Guarantee not required for journey between the office of departure and the office of transit redirect(other-reference)",
            text: "(7) Guarantee not required for the journey between the office of departure and the office of transit"
          },

              {
            value: "(6) Guarantee waived redirect(other-reference)",
            text: "(6) Guarantee waived redirect"
          },

              

              {
            value: "(A) Guarantee waiver by agreement redirect(other-reference)",
            text: "(A) Guarantee waiver by agreement"
          },

              {
            value: "(5) Guarantee waiver, secured amount redirect(other-reference)",
            text: "(5) Guarantee waiver, secured amount not greater than 500 Euros"
          },

                {
            value: "(9) Individual guarantee with multiple usage redirect(guarantee-reference)",
            text: "(9) Individual guarantee with multiple usage"
          },
          {
            value: "(0) TIR(other-reference)",
            text: "(B) TIR"
          }
        ]
      }) }}


      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}