{% extends "layout.html" %}

{% block pageTitle %}
What is the reference for the TIR carnet {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data['guaranteeSummary'] }}</span>
    <form class="form" action="check-answers" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <h1 class="govuk-heading-xl">What is the reference for the TIR carnet?</h1>

      <p class="govuk-body"></p>

      {{ govukInput({
        label: {
          text: ""
        },
        id: "tir-reference",
        classes: "govuk-input--width-20",
        name: "tir-reference",
        value: data[guarantee-reference]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}