{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form class="form" action="../task-list" method="post">

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Know principal’s EORI number?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['is-eori-known'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="is-eori-known">
              Change<span class="govuk-visually-hidden">
                Change - do you know the principal’s EORI number</span>
            </a>
          </dd>
        </div>

        {% if (data['is-eori-known'] == "Yes ") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Principal’s EORI number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['traderEORINumber'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="what-is-eori">
              Change<span class="govuk-visually-hidden">
                Change - principal’s EORI number</span>
            </a>
          </dd>
        </div>

        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Principal’s name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['traderName'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="principal-name">
              Change<span class="govuk-visually-hidden">
                Change - principal’s name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Principal’s address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['number-street'] }} </br>
            {{ data['town'] }} </br>
            {{ data['postcode'] }} <br>
            {{ data['trader-country'] | getCountry }} <br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="principal-address">
              Change<span class="govuk-visually-hidden">
                Change - principal’s address</span>
            </a>
          </dd>
        </div>

        {% endif %}

      </dl>


      {{ govukButton({
                text: "Save and continue",
                href: "../task-list"
                }) }}

    </form>

    <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> --></p>

  </div>
</div>

{% endblock %}