{% extends "layout.html" %}

{% block pageTitle %}
Where is the Customs-approved location? {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="add-seals" method="post">

      {# {% from "govuk/components/input/macro.njk" import govukInput %} #}

      <h1 class="govuk-heading-xl">Where is the Customs-approved location?</h1>
      {{ govukInput({
        label: {
          text: ""
        },
        id: "customs-sub-place",
        classes: "govuk-input--width-20",
        name: "customs-sub-place"
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a>

    </form>

  </div>
</div>

{% endblock %}