{% extends "layout.html" %}

{% block pageTitle %}
Do you have any packages to declare? {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "declare-packages",
        name: "declare-packages",
        fieldset: {
          legend: {
            text: "Do you have any packages to declare?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "Yes redirect(declaring-packages)",
            text: "Yes"
          },
          {
            value: "No redirect(total-gross-mass)",
            text: "No"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}