{% extends "layout.html" %}

{% block pageTitle %}
What is the total number of items you are declaring? 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="declare-packages" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <h1 class="govuk-heading-xl">What is the total number of items you are declaring?</h1>
      {{ govukInput({
        label: {
          text: ""
        },
        id: "total-number-of-items",
        classes: "govuk-input--width-10",
        name: "total-number-of-items"
      }) }}
                  

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a>

    </form>

  </div>
</div>

{% endblock %}