{% extends "layout.html" %}

{% block pageTitle %}
Check your answers {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">{{ data['items'] }}</span>
      <form class="form" method="post" action="trader-details-route">

        <h1 class="govuk-heading-xl">Check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">

            <!-- Item description -->

              <dt class="govuk-summary-list__key">
                Description of item {{ data['itemNumber']}}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['itemDescription'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="item-description">
                  Change<span class="govuk-visually-hidden">
                    description of item {{ data['itemNumber']}}</span>
                </a>
              </dd>
          </div>

          <!-- Total gross mass -->

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total gross mass for item {{ data['itemNumber']}}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['grossMass'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="total-net-mass">
                    Change<span class="govuk-visually-hidden">
                      total gross mass for item {{ data['itemNumber']}}</span>
                  </a>
                </dd>
              </div>

            <!-- Total net mass -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Declare total net mass for item {{ data['itemNumber']}}?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['netMassResponse'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-total-net-mass">
                  Change<span class="govuk-visually-hidden">
                    declare total net mass for item {{ data['itemNumber']}}</span>
                </a>
              </dd>
            </div>

            {% if (data['netMassResponse'] == "Yes ") %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total net mass for item {{ data['itemNumber']}}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['netMass'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="total-net-mass">
                    Change<span class="govuk-visually-hidden">
                      total net mass for item {{ data['itemNumber']}}</span>
                  </a>
                </dd>
              </div>

            {% endif %}

            <!-- Commodity code -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does item {{ data['itemNumber']}} have a commodity code?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['commodityCodeResponse'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="is-commodity-code-known">
                  Change<span class="govuk-visually-hidden">
                    if item {{ data['itemNumber']}} has a commodity code</span>
                </a>
              </dd>
            </div>

            {% if (data['commodityCodeResponse'] == "Yes") %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Commodity code for item {{ data['itemNumber']}}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['itemCode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="commodity-code">
                    Change<span class="govuk-visually-hidden">
                      commodity code for item {{ data['itemNumber']}}</span>
                  </a>
                </dd>
              </div>

            {% endif %}

        </dl>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->
      
      </form>
    </div>
  </div>

{% endblock %}