{% extends "layout.html" %}

{% block pageTitle %}
What is the description of item {{ data['itemNumber']}}? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="total-gross-mass" class="form" method="post">

      <span class="govuk-caption-xl">{{ data['items'] }}</span>

      <h1 class="govuk-heading-xl">What is the description of item {{ data['itemNumber']}}?</h1>

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="280">
        <div class="govuk-form-group">
          <p class="govuk-body">
            Give a brief summary of the item.
          </p>
          <textarea class="govuk-textarea govuk-js-character-count" id="itemDescription" name="itemDescription" rows="5"
            aria-describedby="with-hint-info with-hint-hint"></textarea>
        </div>
      </div>

      {{ govukButton({
          text: "Save and continue"
        }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}