{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
   <h1 class="govuk-heading-xl">
      New Computerised Transit System: <br>service availability and issues
    </h1>
    </div>
    
    <div class="govuk-grid-column-one-quarter">
    
    <p>Content</p>
    <p><a href="#">Service availability</a></p>
    <p><a href="#">Planned downtime</a></p>
    <p><a href="#">Service issues</a></p>
    <p><a href="#">Other services</a></p>
    
    
    
    </div>
  <div class="govuk-grid-column-three-quarters">

    <p>Updated 3 September 2021</p>
     
    <h2 class="govuk-heading-l">Service availability</h2>
    <p>If you’re trying to create, sign in or reset your user ID or password, <a href="#" class="govuk-link">check for known problems with Government Gateway</a>.</p>
    
      <h2 class="govuk-heading-l">Planned downtime</h2>
      
      <h3 class="govuk-heading-m">New Computerised Transit System (NCTS) XI Email and XML Channels</h3>
        
        <div class="call-to-action">
<p>Tuesday 5 October 2021 10pm to 2:30am Wednesday 6 October 2021</p>
</div>
         
       <p>Due to scheduled maintenance you will be unable to access our online service from 10pm on Tuesday 5 October 2021 to 2:30am on Wednesday 6 October 2021.</p>
<p>Data submitted using any of the NCTS Service Channels during this time will be held and processed when the service is available again.</p>

<p>We apologise for any inconvenience this may cause.</p>     
        
      <h3 class="govuk-heading-m">New Computerised Transit System (NCTS) XI Email and XML Channels</h3>
      
      <p>Due to scheduled maintenance you will be unable to access our online service from 10pm on Saturday 9 October 2021 to 2:30am on Sunday 10 October 2021.</p>
      <p>Data submitted using any of the NCTS Service Channels during this time will be held and processed when the service is available again.</p>
      <p>We apologise for any inconvenience this may cause.</p>
      
      <h2 class="govuk-heading-l">Service issues</h2>
      
      <p>None.</p>
      
      <h2 class="govuk-heading-l">Other services</h2>
      
      <p>Check <a href="#">availability and issues</a> for other services.</p>
      

  </div>
</div>
{% endblock %}
