{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

    <h1 class="govuk-heading-xl">Check your answers</h1>

    

        {{ govukButton({
          text: "Continue",
          href: "../change-add-declared-items"
          }) }}



    </form>
  </div>
</div>


{% endblock %}