{% extends "layout.html" %}

{% block pageTitle %}
Which customs approved facility has the goods?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Which customs approved facility has the goods?</h1>

    <form class="form" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
  id: "location-code",
  name: "location-code"
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue",
  href: "authorised-location-code"
}) }}

    </form>

  </div>
</div>

{% endblock %}