{% extends "layout.html" %}

{% block pageTitle %}
Check your answers before submitting your declaration

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">


    <form class="form" action="success-screen" method="post">

      <h1 class="govuk-heading-xl">Check your answers</h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Movement reference number"
            },
            value: {
              text: data['movement-reference']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
          ]
        }) }}

      {% if (data['where-are-the-goods'] == "Border Force Location") %}

      <h2 class="govuk-heading-m">Goods location</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [  
          {
            key: {
              text: "Where are the goods?"
            },
            value: {
              text: data['where-are-the-goods']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },


          {
            key: {
              text: "Where are the goods located?"
            },
            value: {
              text: data['border-force-office']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Which customs approved location has the goods?"
            },
            value: {
              text: data['customs-facility'],
              html: ''
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}
      ​
      {% else %}
      ​
      <h2 class="govuk-heading-m">Goods location</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          
          {
            key: {
              text: "Where are the goods?"
            },
            value: {
              text: data['where-are-the-goods']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Authorised location code"
            },
            value: {
              text: data['authorised-location-code']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "authorisedlocationcode"
                }
              ]
            }
          }
        ]
      }) }}
      ​
      {% endif %}


      <h2 class="govuk-heading-m">Trader details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['trader-name']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "trader name"
                }
              ]
            }
          },           
          
          {
            key: {
              text: "Address"
            },
            value: {
             html: data['address-line-1'] + "<br>" + data['address-town'] + "<br>" + data['address-postcode']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "trader-address"
                }
              ]
            }
          },      
            
          
          {
            key: {
              text: "EORI number"
            },
            value: {
              text: data['eori-number']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "eori number"
                }
              ]
            }
          }
        ]
      }) }}




      {% if (data['something-happened'] == "No ") %}

      <h2 class="govuk-heading-m">Events</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
      {
        key: {
          text: "Has something happened on route?"
        },
        value: {
          text: data['something-happened'],
          html: ''
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "somethinghappened"
            }
          ]
        }
      }
        ]
      }) }}

      {% else %}


      <h2 class="govuk-heading-m">Events</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [

        {
          key: {
            text: "Has something happened on route?"
          },
          value: {
            text: data['something-happened'],
            html: ''
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "somethinghappened"
              }
            ]
          }
        },

        {
          key: {
            text: "Which country did the event happen in?"
          },
          value: {
            text: data['event-country'],
            html: ''
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "eventcountry"
              }
            ]
          }
        },


        {
          key: {
            text: "Where did the event happen?"
          },
          value: {
            text: data['event-place'],
            html: ''
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "eventcountry"
              }
            ]
          }
        }, 

        {
          key: {
            text: "Has this event been reported to a customs authority?"
          },
          value: {
            text: data['event-report'], 
            html: ''
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "eventreport"
              }
            ]
          }
        }
        ]
      }) }}

      {% endif %}

      {% if (data['event-report'] == "Yes") %}

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
      
      {
        key: {
          text: "When was the event reported?"
        },
        value: {
          text: data['date-reported '],
          html: ''
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "datereported"
            }
          ]
        }
      },

      {
        key: {
          text: "Who reported the event?"
        },
        value: {
          text: data['who-reported'],
          html: ''
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "eventcountry"
            }
          ]
        }
      }

      ]
    }) }}

      {% endif %}

    











      <h2 class="govuk-heading-m">Now send your arrival notification</h2>

      <p class="govuk-body">By sending this notification you are confirming that, to the best of your knowledge, the
        details you are providing are correct.</p>

      <form action="/form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Confirm and send",
          href: "success-screen"
        }) }}

      </form>

    </form>

  </div>
</div>
{% endblock %}