{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       First draft
      </h1>


      <p><a href="movement-reference.html">Arrivals journey</a></p>
      <p><a href="kick-out/where-goods.html">Kick out page for simplified journey</a></p>
      <p><a href="kick-out/check-answers-multiple">Check answers page with multiple events</a></p>




    </div>
  </div>

{% endblock %}
