{% extends "layout.html" %}

{% block pageTitle %}
Have any of the seals changed?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "seals-changed",
          name: "seals-changed",
          fieldset: {
            legend: {
              text: "Have any of the seals changed?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "yes redirect(new-seal-number)",
              text: "Yes"
            },
            {
              value: "no redirect(anything-else-happened)",
              text: "No"
            }
          ]
        }) }}

{{ govukButton({
  text: "Save and continue"
}) }}

    </form>

  </div>
</div>

{% endblock %}