{% extends "layout.html" %}

{% block pageTitle %}
Which country is the vehicle registered in?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Which country is the vehicle registered in?</h1>

    {{ govukInput({
      classes: "govuk-input--width-20",
      id: "vehicle-reference",
      name: "vehicle-reference"
    }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "new-container-number"
    }) }}

  </div>
</div>

{% endblock %}