{% extends "layout.html" %}

{% block pageTitle %}
Which country was the event reported in? 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Which country was the event reported in?</h1>

    <form class="form" action="where-reported-place" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
  id:"where-reported-country",
  name: "where-reported-country"
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}


  
{{ govukButton({
  text: "Save and continue"
}) }}

</form>

  </div>
</div>

{% endblock %}