{% extends "layout.html" %}

{% block pageTitle %}
Which country was the event reported in? 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Which country was the event reported in?</h1>

  
{{ govukButton({
  text: "Save and continue",
  href: "where-reported-place"
}) }}

  </div>
</div>

{% endblock %}