{% extends "layout.html" %}

{% block pageTitle %}
Do you need to add transport details? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <span class="govuk-caption-xl">{{ data['transportDetails'] }}</span>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="addTransportDetails-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Do you need to add transport details?
              </h1>
            </legend>

            <span>
              <p class="govuk-body">Tell us the transport details for the:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>point of departure</li>
                <li>border</li>
                <li>point of departure and border</li>
              </ul>
            </span>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="addTransportDetails" name="addTransportDetails" type="radio" value="Yes" {{ checked("addTransportDetails", "Yes")}}>
                <label class="govuk-label govuk-radios__label" for="addTransportDetails">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="addTransportDetails-2" name="addTransportDetails" type="radio" value="No" {{ checked("addTransportDetails", "No")}}>
                <label class="govuk-label govuk-radios__label" for="addTransportDetails-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>



        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

      <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a></p>

  </div>
</div>

{% endblock %}
