{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="../task-list">

      <!-- 
        Movement details start
      -->

      {% set movementDetails = [] %}

        <h1 class="govuk-heading-xl">Check your answers</h1>

        {% set movementDetails = (movementDetails.push(
            {
                    key: {
                    text: "Local reference number"
                    },
                    value: {
                    text: data['local-reference-number']
                    },
                    actions: {
                    items: [
                        {
                        href: "local-reference-number",
                        text: "Change",
                        visuallyHiddenText: "Change - local reference number"
                        }
                    ]
                    }
                }, 

                {
                    key: {
                    text: "Declaration type"
                    },
                    value: {
                    text: data['declaration-type']
                    },
                    actions: {
                    items: [
                        {
                        href: "declaration-type",
                        text: "Change",
                        visuallyHiddenText: "Change - declaration type"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Security process"
                    },
                    value: {
                    text: data['security-process']
                    },
                    actions: {
                    items: [
                        {
                        href: "security",
                        text: "Change",
                        visuallyHiddenText: "Change - security process"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Procedure type"
                    },
                    value: {
                    text: data['departuresProcedureType']
                    },
                    actions: {
                    items: [
                        {
                        href: "procedure-type",
                        text: "Change",
                        visuallyHiddenText: "Change - procedure type"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Containers used"
                    },
                    value: {
                    text: data['have-you-used-containers']
                    },
                    actions: {
                    items: [
                        {
                        href: "containers-used",
                        text: "Change",
                        visuallyHiddenText: "Change - containers used"
                        }
                    ]
                    }
                }, 

                {
                    key: {
                    text: "Place of declaration"
                    },
                    value: {
                    text: data['place-of-declaration']
                    },
                    actions: {
                    items: [
                        {
                        href: "place-of-declaration",
                        text: "Change",
                        visuallyHiddenText: "Change - place of declaration"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Creating on behalf of someone"
                    },
                    value: {
                    text: data['on-behalf-of-someone-else']
                    },
                    actions: {
                    items: [
                        {
                        href: "declaration-for-someone-else",
                        text: "Change",
                        visuallyHiddenText: "Change - are you creating this on behalf of someone"
                        }
                      ]
                    }
                  }
                
              ), movementDetails) %}


    {% if (data['on-behalf-of-someone-else'] == "Yes") %}
        {% set movementDetails = (movementDetails.push(
                  {
                    key: {
                      text: "Your name and capacity"
                    },
                    value: {
                      html: data['representative-name'] + "<br>" + data['representative-capacity']
                    },
                    actions: {
                      items: [
                        {
                          href: "name-and-capacity",
                          text: "Change",
                          visuallyHiddenText: "Change - your name and capacity"
                        }
                      ]
                    }
                  }
        ), movementDetails) %}
    {% endif %}

      <!-- 
        Movement details end
      -->

      <!-- 
        Route details start
      -->

      {% set routeDetails = [] %}

        {% set routeDetails = (routeDetails.push(
                  {
                    key: {
                    text: "Country of dispatch"
                    },
                    value: {
                    text: data['dispatch-country'] | getCountry
                    },
                    actions: {
                    items: [
                        {
                        href: "dispatch-country",
                        text: "Change",
                        visuallyHiddenText: "Change - country of dispatch"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Office of departure"
                    },
                    value: {
                    text: data['office-of-departure']
                    },
                    actions: {
                    items: [
                        {
                        href: "office-of-departure",
                        text: "Change",
                        visuallyHiddenText: "Change - office of departure"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Add destination country?"
                    },
                    value: {
                    text: data['add-country-of-destination']
                    },
                    actions: {
                    items: [
                        {
                        href: "add-country-of-destination",
                        text: "Change",
                        visuallyHiddenText: "Change - add destination country"
                        }
                    ]
                    }
                }
                
              ), routeDetails) %}

    {% if (data['add-country-of-destination'] == "Yes") %}
        {% set routeDetails = (routeDetails.push(
                  {
                    key: {
                      text: "Destination country"
                    },
                    value: {
                      html: data['country-of-destination'] | getCountry
                    },
                    actions: {
                      items: [
                        {
                          href: "destination-country",
                          text: "Change",
                          visuallyHiddenText: "Change - destination country"
                        }
                      ]
                    }
                  }
        ), routeDetails) %}
    {% endif %}      

      {% set routeDetails = (routeDetails.push(

                  {
                    key: {
                    text: "Destination office"
                    },
                    value: {
                    text: data['office-of-destination']
                    },
                    actions: {
                    items: [
                        {
                        href: "destination-office",
                        text: "Change",
                        visuallyHiddenText: "Change - destination office"
                        }
                    ]
                    }
                  },

                  {
                    key: {
                      text: "Transit office 1"
                    },
                    value: {
                      html: data['office-of-transit'] | getOfficeOfTransit
                    },
                    actions: {
                      items: [
                        {
                          href: "added-transit-office",
                          text: "Change",
                          visuallyHiddenText: "Change - transit office 1"
                        }
                      ]
                    }
                  }
                
              ), routeDetails) %}

    <!-- 
      Route details start
    -->

    <!--
      Transport details section start
    -->   

    {% set transportDetails = [] %}

    <!-- Do you need to add transport details? --> 
    {% set transportDetails = (transportDetails.push(
      {
          key: {
            text: "Add transport details?"
          },
          value: {
            html: data['addTransportDetails']
          },
          actions: {
            items: [
              {
                href: "add-transport-details",
                text: "Change",
                visuallyHiddenText: "Change - add transport details"
              }
            ]
          }
        }
      ), transportDetails) %}

      <!-- 
        If addTransportDetails = "Yes" 
      --> 
      {% if (data['addTransportDetails'] == "Yes") %}

        <!-- Which transport details do you need to add? --> 
        {% set transportDetails = (transportDetails.push(
        {
            key: {
              text: "Which transport details do you need to add?"
            },
            value: {
              html: data['which-transport-details']
            },
            actions: {
              items: [
                {
                  href: "transport-details",
                  text: "Change",
                  visuallyHiddenText: "Which transport details"
                }
              ]
            }
          }
        ), transportDetails) %}

          <!-- 
            If which-transport-details = "at departure or both" 
          --> 
          {% if (data['which-transport-details'] == "At the point of departure") or (data['which-transport-details'] == "Both") %}

                    <!-- What is the inland mode? --> 
                    {% set transportDetails = (transportDetails.push(
                    {
                        key: {
                          text: "Inland mode"
                        },
                        value: {
                          html: data['inland-mode']
                        },
                        actions: {
                          items: [
                            {
                              href: "inland-mode",
                              text: "Change",
                              visuallyHiddenText: "Change - inland mode"
                            }
                          ]
                        }
                      }
                    ), transportDetails) %}

              <!-- 
                If inland mode = "2, or 20" 
              --> 
              {% if (data['inland-mode'] == "(2) Rail transport") or (data['inland-mode'] == "(20) Rail transport") %}

                  <!-- Do you need to add nationality at departure? --> 
                    {% set transportDetails = (transportDetails.push(
                    {
                        key: {
                          text: "Do you need to add a nationality at departure?"
                        },
                        value: {
                          html: data['add-nationality-at-departure']
                        },
                        actions: {
                          items: [
                            {
                              href: "add-nationality-at-departure",
                              text: "Change",
                              visuallyHiddenText: "Change - do you need to add a nationality at departure"
                            }
                          ]
                        }
                      }
                    ), transportDetails) %}
                    
              {% endif %}

              <!-- 
                If inland mode = 5,50,7,70, containers used = yes, or add nationality at departure = yes 
              --> 
              {% if (data['inland-mode'] == "(5) Postal Consignment") or
                    (data['inland-mode'] == "(50) Postal Consignment") or
                    (data['inland-mode'] == "(7) Fixed transport installations") or
                    (data['inland-mode'] == "(70) Fixed transport installations") or
                    (data['have-you-used-containers'] == "Yes") or
                    (data['add-nationality-at-departure'] == "Yes")
              %}

                    <!-- What is the nationality at departure? --> 
                    {% set transportDetails = (transportDetails.push(
                    {
                        key: {
                          text: "Nationality at departure"
                        },
                        value: {
                          html: data['nationality-at-departure'] | getCountry
                        },
                        actions: {
                          items: [
                            {
                              href: "nationality-at-departure",
                              text: "Change",
                              visuallyHiddenText: "Change - nationality at departure"
                            }
                          ]
                        }
                      }
                    ), transportDetails) %}

              {% else %}

                    <!-- What is the ID at departure? -->
                    {% set transportDetails = (transportDetails.push(
                          {
                              key: {
                                text: "Name, registration or reference at departure"
                              },
                              value: {
                                html: data['identity-at-departure']
                              },
                              actions: {
                                items: [
                                  {
                                    href: "id-at-departure",
                                    text: "Change",
                                    visuallyHiddenText: "Change - ID at departure"
                                  }
                                ]
                              }
                            }
                          ), transportDetails) %}

                    <!-- What is the nationality at departure? --> 
                    {% set transportDetails = (transportDetails.push(
                    {
                        key: {
                          text: "Nationality at departure"
                        },
                        value: {
                          html: data['nationality-at-departure'] | getCountry
                        },
                        actions: {
                          items: [
                            {
                              href: "nationality-at-departure",
                              text: "Change",
                              visuallyHiddenText: "Change - nationality at departure"
                            }
                          ]
                        }
                      }
                    ), transportDetails) %}                  

              {% endif %}

          {% endif %}   

          <!-- 
            If which-transport-details = "at border or both" 
          --> 
          {% if (data['which-transport-details'] == "At the border") or (data['which-transport-details'] == "Both") %}

            <!-- What is the mode at the border? --> 
              {% set transportDetails = (transportDetails.push(
              {
                  key: {
                    text: "Mode at the border"
                  },
                  value: {
                    html: data['mode-at-border']
                  },
                  actions: {
                    items: [
                      {
                        href: "mode-at-border",
                        text: "Change",
                        visuallyHiddenText: "Change - mode at the border"
                      }
                    ]
                  }
                }
              ), transportDetails) %}

              <!-- What is the ID crossing the border? --> 
              {% set transportDetails = (transportDetails.push(
              {
                  key: {
                    text: "Name, registration or reference crossing the border"
                  },
                  value: {
                    html: data['identity-at-border']
                  },
                  actions: {
                    items: [
                      {
                        href: "identity-at-border",
                        text: "Change",
                        visuallyHiddenText: "Change - ID crossing the border"
                      }
                    ]
                  }
                }
              ), transportDetails) %} 

              <!-- What is the mode crossing the border? --> 
              {% set transportDetails = (transportDetails.push(
              {
                  key: {
                    text: "Mode crossing the border"
                  },
                  value: {
                    html: data['mode-crossing-border']
                  },
                  actions: {
                    items: [
                      {
                        href: "mode-crossing-border",
                        text: "Change",
                        visuallyHiddenText: "Change - mode crossing the border"
                      }
                    ]
                  }
                }
              ), transportDetails) %}     

                  <!--
                    If nationality crossing the border is NOT empty
                  -->

                  {% if (data['nationality-crossing-border'] | length != "0" ) %}

                      <!-- What is the nationality crossing the border? -->
                      {% set transportDetails = (transportDetails.push(
                      {
                          key: {
                            text: "Nationality crossing the border"
                          },
                          value: {
                            html: data['nationality-crossing-border'] | getCountry
                          },
                          actions: {
                            items: [
                              {
                                href: "nationality-crossing-border",
                                text: "Change",
                                visuallyHiddenText: "Change - nationality crossing the border"
                              }
                            ]
                          }
                        }
                      ), transportDetails) %}    


                  {% endif %}   

          {% endif %}   

      {% endif %}    


    <!--
      Transport details section end
    -->             

      <h2 class="govuk-heading-m">Movement details</h2>

        {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: movementDetails
        }) }}

        <h2 class="govuk-heading-m">Route details</h2>

        {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: routeDetails
        }) }}

        <h2 class="govuk-heading-m">Transport details</h2>

        {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: transportDetails
        }) }}
        

        {{ govukButton({
          text: "Save and continue"
        }) }}

      <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a>

      </form>

    </div>
  </div>

{% endblock %}

