{% extends "layout.html" %}

{% block pageTitle %}
What declaration do you want to create? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="security" class="form" method="post">
      
      <span class="govuk-caption-xl">Movement details</span>

      {{ govukRadios({
        idPrefix: "declaration-type",
        name: "declaration-type",
        fieldset: {
          legend: {
            text: "What declaration do you want to create?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "T1",
            text: "T1 (goods moving under external Union Transit procedure)"
            },
          {
            value: "T2",
            text: "T2 (goods moving under internal Union Transit procedure)"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>


{% endblock %}
