{% extends "layout.html" %}

{% block pageTitle %}
Where are you making this declaration? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Where are you making this declaration?</h1>

    <p class="govuk-body"><p>Do not include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the office of dispatch</li>
      <li>any offices of transit</li>
      <li>the office of destination</li>
    </ul>

    <form action="declaration-for-someone-else" class="form" method="post">

      {{ govukInput({
        classes: "govuk-input--width-20",
        id: "place-of-declaration",
        name: "place-of-declaration"
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a></p>

  </div>
</div>

{% endblock %}
