{% extends "layout.html" %}

{% block pageTitle %}
Declared items
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" Action="change-seal-ids">

      <h1 class="govuk-heading-xl">Declared items</h1>

      <div class="govuk-summary-list govuk-!-margin-bottom-2">
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Item description</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Action</span>
        </div>
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">Chocolate</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="change-item">Change</a></span>
        </div>
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">TVs</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Change</a></span>
        </div>
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">iPads</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Change</a></span>
        </div>
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">Android tablets</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Change</a></span>
        </div>
      </div>

      <br>

      <p><a href="add-new-item">Add new item</a></p>

      {{ govukButton({
        text: "Save and continue"
      }) }}



    </form>
  </div>
</div>


{% endblock %}