{% extends "layout.html" %}

{% block pageTitle %}
Seal IDs
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" Action="check-your-answers">

    <h1 class="govuk-heading-xl">Seal IDs</h1>

        <div class="govuk-summary-list govuk-!-margin-bottom-2">
          <div class="govuk-summary-list__row">
            <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Original seal number</span>
            <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">New seal number</span>
            <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Action</span>
          </div>
          <div class="govuk-summary-list__row">
            <span class="govuk-summary-list__value govuk-!-width-full">1234</span>
            <span class="govuk-summary-list__value govuk-!-width-full">{{ data['new-seal-number'] }}</span>
            <span class="govuk-summary-list__value govuk-!-width-full"><a href="add-new-seal">Change</a></span>
          </div>
          <div class="govuk-summary-list__row">
            <span class="govuk-summary-list__value govuk-!-width-full">1234</span>
            <span class="govuk-summary-list__value govuk-!-width-full"></span>
            <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Change</a></span>
          </div>
          <div class="govuk-summary-list__row">
            <span class="govuk-summary-list__value govuk-!-width-full">1234</span>
            <span class="govuk-summary-list__value govuk-!-width-full"></span>
            <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Change</a></span>
          </div>
        </div>

        <br>

      {{ govukButton({
        text: "Save and continue"
      }) }}



    </form>
  </div>
</div>


{% endblock %}