{% extends "layout.html" %}

{% block pageTitle %}
Declared items
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

    <h1 class="govuk-heading-xl">Declared items</h1>
    
    <!-- summary -->

    <p>Chocolate</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>TVs</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>iPads</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">  

    <p>Android tablets</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> 

    <!-- radios -->

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "allGoodsUnloaded",
        name: "allGoodsUnloaded",
        fieldset: {
          legend: {
            text: "Do you need to change or add any declared items?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "Yes, redirect(change-add-declared-items)",
          text: "Yes"
        },
        {
          value: "No, redirect(change-seal-ids)",
          text: "No"
        }
          
        ]
      }) }}

      <!-- Button -->

      {{ govukButton({
        text: "Save and continue"
      }) }}



    </form>
  </div>
</div>


{% endblock %}