{% extends "layout.html" %}

{% block pageTitle %}
Is GB123456123456123 the EORI number you want to use for this movement? 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

    <h1 class="govuk-heading-xl">Is GB123456123456123 the EORI number you want to use for this movement?</h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "place-postcode",
        name: "place-postcode",
        fieldset: {
          legend: {
            isPageHeading: false,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No redirect(what-is-the-eori-number)",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <p><a href="homepage.html">Go back to manage transit movements</a></p>

  </div>
</div>

{% endblock %}