{% extends "layout.html" %}

{% block pageTitle %}
What is the commercial reference number? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="add-dangerous-goods-code" class="form" method="post">

      <span class="govuk-caption-xl">{{ data['items'] }}</span>

      <h1 class="govuk-heading-xl">What is the commercial reference number?</h1>

      <div class="govuk-form-group">
        <input class="govuk-input govuk-input--width-70" id="addItemsCommercialReferenceNumber" name="addItemsCommercialReferenceNumber" type="text"
          spellcheck="false" maxlength="70">
      </div>

      {{ govukButton({
          text: "Save and continue"
        }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}