{% extends "layout.html" %}

{% block pageTitle %}
Change unloading permission
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <h1 class="govuk-heading-xl">Change unloading permission</h1>

      <div class="govuk-summary-list govuk-!-margin-bottom-2">
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Field name</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Declared information</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">New information</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Action</span>
        </div>
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">Vehicle name, registration or reference</span>
          <span class="govuk-summary-list__value govuk-!-width-full">BA537</span>
          <span class="govuk-summary-list__value govuk-!-width-full"></span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="new-vehicle-reference">Change</a></span>
        </div>
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">Country vehicle registered in</span>
          <span class="govuk-summary-list__value govuk-!-width-full">UK</span>
          <span class="govuk-summary-list__value govuk-!-width-full"></span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="new-vehicle-country">Change</a></span>
        </div>
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">Total gross mass (kg)</span>
          <span class="govuk-summary-list__value govuk-!-width-full">800kg</span>
          <span class="govuk-summary-list__value govuk-!-width-full"></span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="new-total-gross-mass">Change</a></span>
        </div>
      </div>

      <br>

      <!-- Button -->

      {{ govukButton({
        text: "Save and continue",
        href: "change-declared-items"
      }) }}



    </form>
  </div>
</div>


{% endblock %}