{% extends "layout.html" %}

{% block pageTitle %}
Seal numbers or marks
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" Action="check-your-answers">

    <h1 class="govuk-heading-xl">Seal numbers or marks</h1>


    {%
      set declarationInfo = [
        {
          "sealNumber": "1234",
          "newSealNumber": "",
          "action": "Change"
        },
        {
          "sealNumber": "1234",
          "newSealNumber": "",
          "action": "Change"
        },
        {
          "sealNumber": "1234",
          "newSealNumber": "",
          "action": "Change"
        }
      ]

    %}

    <table class="govuk-table hmrc-responsive-table" role="grid">
      <caption class="govuk-visually-hidden">#</caption>
      <thead role="rowgroup">
        <tr role="row">
          <th class="govuk-table__header" scope="col" role="columnheader">Original seal number or mark</th>
          <th class="govuk-table__header" scope="col" role="columnheader">New seal number or mark</th>
          <th class="govuk-table__header" scope="col" role="columnheader">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for info in declarationInfo %}
          <tr role="row">
            <td class="govuk-table__cell" role="gridcell"><span class="hmrc-responsive-table__heading" aria-hidden="true">Original seal number or mark</span>{{ info.sealNumber }}</td>
            <td class="govuk-table__cell" role="gridcell"><span class="hmrc-responsive-table__heading" aria-hidden="true">New seal number or mark</span></td>
            <td class="govuk-table__cell" role="gridcell"><a href="new-seal-number">Change<span class="govuk-visually-hidden"> for {{ notice.action }}</span></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

        {# <div class="govuk-summary-list govuk-!-margin-bottom-2">
          <div class="govuk-summary-list__row">
            <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Original seal number or mark</span>
            <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">New seal number or mark</span>
            <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Action</span>
          </div>
          <div class="govuk-summary-list__row">
            <span class="govuk-summary-list__value govuk-!-width-full">1234</span>
            <span class="govuk-summary-list__value govuk-!-width-full">{{ data['new-seal-number'] }}</span>
            <span class="govuk-summary-list__value govuk-!-width-full"><a href="new-seal-number">Change</a></span>
          </div>
          <div class="govuk-summary-list__row">
            <span class="govuk-summary-list__value govuk-!-width-full">1234</span>
            <span class="govuk-summary-list__value govuk-!-width-full"></span>
            <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Change</a></span>
          </div>
          <div class="govuk-summary-list__row">
            <span class="govuk-summary-list__value govuk-!-width-full">1234</span>
            <span class="govuk-summary-list__value govuk-!-width-full"></span>
            <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Change</a></span>
          </div>
        </div> #}

        <br>

        <p><a href="#">Add a new seal number or mark</a></p>

        <br>


      {{ govukButton({
        text: "Save and continue",
        href: "declared-items"
      }) }}



    </form>
  </div>
</div>


{% endblock %}