{% extends "layout.html" %}

{% block pageTitle %}
Check what you found against the transit declaration {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="check-your-answers">

      <span class="govuk-caption-xl">{{ data['movement-reference'] }}</span>

      <h1 class="govuk-heading-xl">Check what you found against the transit declaration </h1>

      <!-- 
        Seal marks or numbers
      -->
      <h2 class="govuk-heading-m">Seals</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Seal 1
          </dt>
          <dd class="govuk-summary-list__value">
            seal_id1
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-seal-number">
              Change<span class="govuk-visually-hidden">seal id x</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Seal 2
          </dt>
          <dd class="govuk-summary-list__value">
            seal_id2
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-seal-number">
              Change<span class="govuk-visually-hidden">seal id x</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Seal 3
          </dt>
          <dd class="govuk-summary-list__value">
            seal_id3
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-seal-number">
              Change<span class="govuk-visually-hidden">seal id x</span>
                </span></a>
            </a>
          </dd>
        </div>
      </dl>

      <p class="govuk-body"><a href="add-seal-number">Add a new seal number</a></p>


<!--
Ruth ends
    

      <h2 class="govuk-heading-m">Seals</h2>

      <table class="govuk-table hmrc-responsive-table" role="grid">
        <caption class="govuk-visually-hidden">Seals</caption>
        <thead role="rowgroup">
          <tr role="row">
          </tr>
        </thead>
        <tbody>
          <tr role="row">
            <td class="govuk-table-cell" role="gridcell"><span class="govuk-summary-list__key">Seal 1</span>
              </td>
            <td class="govuk-table__cell" role="gridcell"><span class="hmrc-responsive-table__heading"
                aria-hidden="true">Original</span>seal_id1</td>
            <td class="govuk-table__cell" role="gridcell"><a href="change-seal-number">Change<span
                  class="govuk-visually-hidden"> for {{ notice.action }}</span></a></td>
          </tr>
          <tr role="row">
            <td class="govuk-table__cell" role="gridcell"><span class="hmrc-responsive-table__heading"
                aria-hidden="true">Original</span>seal_id2</td>
            <td class="govuk-table__cell" role="gridcell"><a href="#">Change<span class="govuk-visually-hidden"> for
                  {{ notice.action }}</span></a></td>
          </tr>
          <tr role="row">
            <td class="govuk-table__cell" role="gridcell"><span class="hmrc-responsive-table__heading"
                aria-hidden="true">Original</span>seal_id3</td>
            <td class="govuk-table__cell" role="gridcell"><a href="#">Change<span class="govuk-visually-hidden"> for
                  {{ notice.action }}</span></a></td>
          </tr>
          <tr role="row">
            <td class="govuk-table__cell" role="gridcell"><span class="hmrc-responsive-table__heading"
                aria-hidden="true">Original</span>seal_id4</td>
            <td class="govuk-table__cell" role="gridcell"><a href="#">Change<span class="govuk-visually-hidden"> for
                  {{ notice.action }}</span></a></td>
          </tr>

        </tbody>
      </table>

      

      <br><br> --> 

      <!--
        Transport
      -->

      {% set transportList = [] %}

      <h2 class="govuk-heading-m">Vehicle used</h2>

      {% set transportList = (transportList.push(
          {
            key: {
              text: "Name, registration or reference"
            },
            value: {
              text: data['vehicle-registration']
            },
            actions: {
              items: [
                {
                  href: "new-vehicle-id",
                  text: "Change",
                  visuallyHiddenText: "Change vehicle name, registration or reference"
                }
              ]
            }
          }
        ), transportList) %}

      {% set transportList = (transportList.push(
          {
            key: {
              text: "Registered"
            },
            value: {
              text: data['vehicle-country']
            },
            actions: {
              items: [
                {
                  href: "new-vehicle-country",
                  text: "Change",
                  visuallyHiddenText: "where the vehicle is registered"
                }
              ]
            }
          }
        ), transportList) %}

      {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: transportList
        }) }}

      <!-- 
        Declared items 
      -->

      <h2 class="govuk-heading-m">Items</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total gross mass in kilograms
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['total-gross-mass'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="new-total-gross-mass">
              Change<span class="govuk-visually-hidden">Change total gross mass</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Flowers
          </dt>
          <dd class="govuk-summary-list__value">
            2 boxes
          </dd>
          <dd class="govuk-summary-list__actions">
            {# <a class="govuk-link" href="changes-to-item">
              Change<span class="govuk-visually-hidden">Change flowers</span>
            </a> #}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chocolate
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">2 boxes</p>
            <p class="govuk-body">2 barrels</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            {# <a class="govuk-link" href="changes-to-item">
              Change<span class="govuk-visually-hidden">Change chocolate</span>
            </a> #}
          </dd>
        </div>

        {# (data['changesToReport'] | length != "0")  #}

        
        {# {% if data['removeComments'] | length != "0" %} #}

        {% if (data['removeComments'] == "") or (data['removeComments'] == "No") %}

          {% if data['changesToReport'] | length != "0" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Comments
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data['changesToReport']}}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="changes-to-report">
                Change<span class="govuk-visually-hidden">Change comments</span>
              </a>
              <a class="govuk-link" href="remove-comments">
                Remove<span class="govuk-visually-hidden">Remove comments</span>
              </a>
            </dd>
          </div>
          {% endif %}
          
        {% elif (data['removeComments'] == "Yes") or (data['removeComments'] | length == "0") %}
        

        {% endif %}

      </dl>

        {% if (data['changesToReport'] == "") or (data['removeComments'] == "Yes") %}
          <p><a href="changes-to-report">Add comment</a></p>
        {% else %}

        {% endif %}



   

      <br><br>

      {{ govukButton({
          text: "Continue"
          }) }}

    </form>
  </div>
</div>


{% endblock %}