{% extends "layout.html" %}

{% block pageTitle %}
Are you ready to start adding items? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data['items'] }}</span>
    <form class="form" method="post">

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "itemWarning",
        name: "itemWarning",
        fieldset: {
          legend: {
            text: "Are you ready to start adding items?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: '<div class="govuk-warning-text govuk-!-margin-top-6">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      Make sure the answers in general information, route, trader details, and safety and security sections are correct. Changing any answers in these sections will reset this section.
                    </strong>
                  </div>'
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

  </div>
</div>

{% endblock %}