{% extends "layout.html" %}

{% block pageTitle %}
This arrival notification has been rejected
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="what-to-do-idea-1" method="post">

       <h1 class="govuk-heading-xl">This arrival notification has been rejected</h1>

      <p class="govuk-body">Rejected arrival notification for movement reference number 10IT021300100054F2.</p>
      <p class="govuk-body">Check that you have entered the correct movement reference number.</p>
      <p class="govuk-body">If the movement reference number is correct and you have not sent an arrival notification you will need to contact the helpdesk.</p>
    
    
      {{ govukButton({
    text: "Continue"
  }) }}

    </form>

  </div>
</div>

{% endblock %}