{% extends "layout.html" %}

{% block pageTitle %}
Rejected the arrival notification for movement reference number 19IT021300100054F2
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="" method="post">

       <h1 class="govuk-heading-xl">Rejected the arrival notification for movement reference number 19IT021300100054F2</h1>

      <p class="govuk-body">This is because someone has sent us an arrival notification for this reference.</p>
      <p class="govuk-body">Check that you have given the correct movement reference number.</p>
      <p class="govuk-body">If you have not sent an arrival notification, contact the helpdesk (opens in a new window or tab) </p>
    
    
      {{ govukButton({
    text: "Continue"
  }) }}

    </form>

  </div>
</div>

{% endblock %}