{% extends "layout.html" %}

{% block pageTitle %}
How much is the liability amount? {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data['guaranteeSummary'] }}</span>
  {% if (data['guarantee-type'] == "(1) Comprehensive guarantee ") or
          (data['guarantee-type'] == "(4) Flat-rate voucher ") or
          (data['guarantee-type'] == "(0) Guarantee waiver ") or
          (data['guarantee-type'] == "(2) Individual guarantee ") or
          (data['containersUsed'] == "(9) Individual guarantee with multiple usage redirect(guarantee-reference) ")
    %}

    <form class="form" action="check-libaility-amount" method="post">

      <h1 class="govuk-heading-xl">How much is the liability amount?</h1>
      
      <span id="changed-name-hint" class="govuk-hint">
        Amount can have up to 2 decimal places.
      </span>

        {{ hmrcInputCurrency({
            name: "liabilityAmount",
            id: "liabilityAmount",
            classes: "govuk-input--width-10",
            autocomplete: "off",
            type: "tel"
          })
        }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

    {% else %}

    <form class="form" action="check-answers" method="post">

      <h1 class="govuk-heading-xl">How much is the liability amount?</h1>

      <span id="changed-name-hint" class="govuk-hint">
        Amount can have up to 2 decimal places.
      </span>
      
      <div class="govuk-form-group">
        <div class="hmrc-currency-input__wrapper">
            <span class="hmrc-currency-input__unit" aria-hidden="true">£</span>
            
            <input class="govuk-input govuk-input--width-10" id="liabilityAmount" name="liabilityAmount" type="text" autocomplete="off">
    
        </div>
    </div>


      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

    {% endif %}



  </div>
</div>

{% endblock %}