{% extends "layout.html" %}

{% block pageTitle %}
What country is the transit movement ending in? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ data['routeDetails'] }}</span>

    <h1 class="govuk-heading-xl">What country is the transit movement ending in?</h1>

    <!-- <p class="govuk-body">This may not be where the transit movement ends.</p> -->

    <form action="destination-office" class="form" method="get">
      {% if data['declarationType'] == "TIR" %}
      {{ govukSelect({
        classes: "govuk-input--width-20 autocomplete",
        label: {
          text: header,
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        id: "movementDestinationCountry",
        name: "movementDestinationCountry",
        errorMessage: form.value.error,
        items:CTCData.onlyEUCountries
         
      }) }}

      {% else %}
      {{ govukSelect({
        classes: "govuk-input--width-20 autocomplete",
        label: {
          text: header,
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        id: "movementDestinationCountry",
        name: "movementDestinationCountry",
        errorMessage: form.value.error,
        items:CTCData.ctcOnlyCountries
         
      }) }}
      {% endif %}
      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}