{% extends "layout.html" %}

{% block pageTitle %}
You have added 1 special mention for item {{ data['itemNumber']}} {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="add-special-mention-route">

      <span class="govuk-caption-xl">{{ data['items'] }}</span>
      
      
        <h1 class="govuk-heading-xl">
          You have added {{ data['mentionCount'] }} special mentions for item {{ data['itemNumber'] }}
        </h1>

      <div class="govuk-form-group">
          
          <table class="govuk-table hmrc-responsive-table" role="table">
            <caption class="govuk-visually-hidden">Special Mentions</caption>
            <tbody>
              {% for mention in data['mentionsArray'] %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ mention.type }}</td>
                <td class="govuk-table__cell govuk-table__cell--action"><a href="special-mention-type">Change</a>  |  <a href="remove-special-mention" >Remove</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "addedSpecialMentionsResponse",
          name: "addedSpecialMentionsResponse",
          fieldset: {
            legend: {
              text: "Do you need to add another special mention?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <br><br>

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>
    
  </div>
</div>

{% endblock %}
