{% extends "layout.html" %}

{% block pageTitle %}
What country is the item being exported to? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ data['items'] }}</span>

    <h1 class="govuk-heading-xl">What country is the item being exported to?</h1>

    <form class="form" method="post">

      {{ govukSelect({
        classes: "govuk-input--width-20 autocomplete",
        label: {
          text: header,
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        id: "itemExportCountry",
        name: "itemExportCountry",
        errorMessage: form.value.error,
        items: CTCData.countries
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}