{% extends "layout.html" %}

{% block pageTitle %}
Did any events happen on the journey?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

      <form class="form" method="post">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "something-happened",
  name: "something-happened",
  fieldset: {
    legend: {
      text: "Did any events happen on the journey?",
      isPageHeading: true, 
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    html: 
    '<p class="govuk-hint">Events should be recorded on the transit accompanying document (TAD).</p>
    <p class="govuk-hint">Tell us if the vehicle was in an accident or the goods:</p>

      <ul class="govuk-list govuk-list--bullet govuk-hint">
              
      <li>had to be unloaded</li>
      <li>moved to a different vehicle</li>
      <li>changed to a different mode of transport</li>
    
      </ul>'
  },
  items: [
    {
      value: "Yes redirect(event-simplified-1/event-country)",
      text: "Yes"
    },
    {
      value: "No redirect(../check-answers-no-events)",
      text: "No"
    }
  ]
}) }}


{{ govukButton({
  text: "Save and continue"
}) }}

</form>

<p><a href="homepage.html">Go back to manage transit movements</a></p>

  </div>
</div>

{% endblock %}