{% extends "layout.html" %}

{% block pageTitle %}
Delete draft declaration
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form class="form" method="post">


      
      <h1 class="govuk-heading-xl">Are you sure you want to delete this draft arrival notification?</h1>


      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "",
        firstCellIsHeader: false,
        head: [
          {
            text: "Created"
          },
          {
            text: "Movement reference number"
          }
        ],
        rows: [
          [
            {
              text: "25 November 2019 9:45am"
            },
            {
              text: "98756721839010293"
            }
          ],
          [  
          ],
          [
          ]
        ]
      }) }}



      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "changed-name",
        name: "changed-name",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}


     





      
         {#   {% from "govuk/components/radios/macro.njk" import govukRadios %}

            {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "another-container",
            name: "another-container",
            fieldset: {
              legend: {
                text: "Do you want to continue with this arrival notification?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes redirect(something-happened)",
                text: "Yes"
              },
              {
                value: "no redirect(draft-declarations)",
                text: "No"
              }
            ]
          }) }}  #}

    
          {{ govukButton({
            text: "Continue",
            href: "place-of-notification-postcode"
            }) }}



          <p class="govuk-body"><a href="draft-declarations">Go to drafts</a></p>
    </form>
  </div>
</div>

{% endblock %}