{% extends "layout.html" %}

{% block pageTitle %}
When do you expect the transit to arrive at the office of transit? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ data['routeDetails'] }}</span>

    

    <form action="added-transit-offices" class="form" method="post">

      <h1 class="govuk-heading-xl">When do you expect the transit to arrive at the office of transit?</h1>

    <span id="controlDate-hint" class="govuk-hint">
      For example, 14 1 2020 12:59am.
    </span>

      <div class="govuk-date-input" id="controlDate">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="controlDateDay">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="controlDateDay"
              name="controlDateDay" value="{{data['controlDateDay']}}" type="text"
              pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="controlDateMonth">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="controlDateMonth"
              name="controlDateMonth" value="{{data['controlDateMonth']}}" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="controlDateYear">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="controlDateYear"
              name="controlDateYear" value="{{data['controlDateYear']}}" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="controlDateHour">
              Hour
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="controlDateHour"
              name="controlDateHour" value="{{data['controlDateHour']}}" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="controlDateMin">
              Minute
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="controlDateMin"
              name="controlDateMin" value="{{data['controlDateMin']}}" type="text" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            am or pm
          </label>
          <select class="govuk-select" id="controlDateAmPm" name="controlDateAmPm">
            <option value="am"selected>am</option>
            <option value="pm">pm</option>
          </select>
        </div>
      </div>
      </div>

      
      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}
