{% extends "layout.html" %}

{% block pageTitle %}
There are errors
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="correct-mrn-error" method="post">

    <h1 class="govuk-heading-xl">There is an error in this arrival notification</h1>

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
    
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Movement reference number"
          },
          value: {
            text: "10IT02130010005402"
          }
        },
        {
          key: {
            text: "Updated"
          },
          value: {
            text: "25 November 2019 9:19am"
          }
        }
        ]
    }) }}

    <h2 class="govuk-heading-m">Error</h2>
    

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Which Border Force office supervises Berwick?"
        },
        value: {
          text: "Missing answer"
        }
      }
      ]
  }) }}

 <!--  <p class="govuk-body">You will need to <a href="#">contact the helpdesk</a>.</p> -->
  
 {{ govukButton({
    text: "Continue and fix errors"
  }) }}


  <p class="govuk-body"><a href="#">Go to manage transit movements</a></p>

    </form>

  </div>
</div>

{% endblock %}