{% extends "layout.html" %}

{% block pageTitle %}
Arrival notification rejected
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="correct-mrn-error" method="post">

     <h1 class="govuk-heading-xl">There are errors in this arrival notification</h1>

     
    <p class="govuk-heading-body">It has been rejected because of the format of the: </p>

   
  
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Movement reference number"
      },
      value: {
        text: "10IT02130010005402"
      }
    }
  ]
}) }}

<p class="govuk-body">We expect movement reference numbers to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>start with numbers to show the year, like 19</li>
  <li>show the country code of the place the goods start from, like GB</li>
  <li>finish with 14 numbers</li>
</ul>

{#<p class="govuk-body">Rejected arrival notification</p>

{{ govukSummaryList({
      rows: [
      {
        key: {
          text: "Updated"
        },
        value: {
          text: "25 November 2019 9:19am"
        }
      },
      {
      key: {
        text: "Trader at destination"
      },
      value: {
        text: "M&S"
      }
    },
    {
      key: {
        text: "EORI number"
      },
      value: {
        html: "GB02847107794274"
      }
    },
    {
      key: {
        text: "Place of notification"
      },
      value: {
        html: '<p class="govuk-body">Teesport</p>'
      }
    }, 
    {
      key: {
        text: "Supervising office"
      },
      value: {
        html: 'Newcastle'
      }
    }, 
    {
      key: {
        text: "Procedure"
      },
      value: {
        html: '<p class="govuk-body">Normal</p>'
      }
    }
  ]
}) }}#}
   

<p class="govuk-body">If the movement reference number you have given is correct, you will need to <a href="#">contact the helpdesk</a>.</p>

<h2 class="govuk-heading-m">What do you want to do?</h2>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "what-do-you-want-do-to",
  name: "what-do-you-want-to-do",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
  {
    value: "fix-errors, redirect(../movement-reference-reject)",
    text: "Fix errors and send the arrival notification again"
  },
  {
    value: "delete-arrival-notification, redirect(../delete-notification)",
    text: "Delete this arrival notification"
  }
]
}) }}

      {{ govukButton({
    text: "Continue"
  }) }}

    </form>

  </div>
</div>

{% endblock %}