{% extends "layout.html" %}

{% block pageTitle %}
You have added 1 seal number {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You have added 2 seals</h1>

    <form class="form" method="post">

      
    
          {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
            {
              key: {
                text: "Seal 1",
                classes: "govuk-!-width-one-half"
              },
              value: {
                text: data['new-seal-number']
              },
              actions: {
                classes: "govuk-!-width-one-third",
                items: [
                  {
                    href: "new-seal-number",
                    text: "Change",
                    visuallyHiddenText: "name"
                  },
                  {
                    href: "remove-seal",
                    text: "Remove",
                    visuallyHiddenText: ""
                  }
                ]
              } 
            },
            {
              key: {
                text: "Seal 2",
                classes: "govuk-!-width-one-half"
              },
              value: {
                text: data['new-seal-number-2']
              },
              actions: {
                classes: "govuk-!-width-one-third",
                items: [
                  {
                    href: "new-seal-number-2",
                    text: "Change",
                    visuallyHiddenText: "name"
                  },
                  {
                    href: "remove-seal",
                    text: "Remove",
                    visuallyHiddenText: ""
                  }
                ]
              } 
            }
            ]
          }) }}









          



        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changed-name",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "Do you need to add another seal?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes redirect(new-seal-number-2)",
              text: "Yes"
            },
            {
              value: "no redirect(check-event-answers)",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>
    {# <p><a href="homepage.html">Go back to manage transit movements</a></p> #}

  </div>
</div>

{% endblock %}