{% extends "layout.html" %}

{% block pageTitle %}
When did the event happen?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="who-reported" class="form" method="post">

      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "date-reported",
        namePrefix: "date-reported",
        fieldset: {
          legend: {
            text: "When was the event reported?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "For example, 31 10 2019"
        }
      }) }}

{{ govukButton({
  text: "Save and continue"
}) }}

  </div>
</div>

{% endblock %}