{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">There are errors in this arrival notification</h1>

  <form class="form" method="post">

    <h2 class="govuk-heading-m">Arrival notification details</h2>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Movement reference number</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 1:50pm</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
      </div>
    </div>

    <br>
<br>


    <h2 class="govuk-heading-m">Errors</h2>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Error description</span>
      </div>
      <div class="govuk-summary-list__row">
        
        <span class="govuk-summary-list__value govuk-!-width-full">Your movement reference number is not recognised</span>
      </div>
      <div class="govuk-summary-list__row">
        
        <span class="govuk-summary-list__value govuk-!-width-full">Your EORI number is not in the correct format</span>
      </div>
    </div>

    <br>
    <br>



<h2 class="govuk-heading-m">What do you want to do?</h2>

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--stacked",
        idPrefix: "place-postcode",
        name: "place-postcode",
        fieldset: {
          legend: {
            text: heading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes redirect(arrivals)",
            text: "Fix the errors and continue"
          },
          {
            value: "Delete this arrival notification redirect(arrivals)",
            text: "Delete this arrival notification"
          }
        ]
      }) }}



      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
