{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Departures version 7 (NI) journeys
    </h1>

    <h2 class="govuk-heading-m">Standard journey</h2>

    <p class="govuk-body"><a href="version-7/start-page-ni">Start</a></p>

    <h2 class="govuk-heading-m">Static pre-lodged journey</h2>

    <p class="govuk-body"><a href="static-v7/homepage">Start</a></p>

    <p class="govuk-body">Normal procedure declaration with task list already fully completed to demonstrate pre-lodged journey without needing to complete all sections.</p>

  </div>
</div>
{% endblock %}
