{% extends "layout.html" %}

{% block pageTitle %}
What office of transit in {{ data ['officeOfTransitCountry'] }} do you want to add? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ data['routeDetails'] }}</span>  

    <h1 class="govuk-heading-xl">What office of transit in {{ data ['officeOfTransitCountry'] }} do you want to add?</h1>

    <p class="govuk-body">If there is no office of transit, enter the office of destination.</p>

    <form action="added-transit-offices-route" class="form" method="post">

      {{ govukSelect({
        classes: "govuk-input--width-20 autocomplete",
        label: {
          text: header,
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        id: "office-of-transit",
        name: "office-of-transit",
        errorMessage: form.value.error,
        items: CTCData.officeOfTransit
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->
      
    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}
