{% extends "layout.html" %}

{% block pageTitle %}
Are you sure you want to change the answers in this section? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="dispatch-country" class="form" method="post">

      <span class="govuk-caption-xl">{{ data['routeDetails'] }}</span>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "confirmChangeRoute",
          name: "confirmChangeRoute",
          fieldset: {
            legend: {
              text: "Are you sure you want to change the answers in this section?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: '<div class="govuk-warning-text govuk-!-margin-top-6">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      If you choose yes, the answers you have saved in the guarantee details section will be reset.
                    </strong>
                  </div>'
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

      </form>

  </div>
</div>

{% endblock %}
