{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Arrival notifications
    </h1>

    <p class="govuk-body"><a href="movement-reference">Make an arrival notification</a></p>

    <!-- 
      22 November section
    -->

    <h2 class="govuk-heading-m">25 November 2019</h2>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Movement reference number</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Trader name</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Action</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">12:03pm</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Caterpillar</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Tilbury (GB00093)</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Goods released</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="history/view-history-goods-released.html">View history<span class="govuk-visually-hidden"> for 10GB000060100C06E0</span> </a></span>
        <span class="govuk-summary-list__value govuk-!-width-full"> </span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">10:34am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">99IT9876AB88901209</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Toyota</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Jersey Customs & Immigration	(GB000465)</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Simplified</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Arrival notification sent</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="history/view-history-notification-sent.html">View history<span class="govuk-visually-hidden"> for 10GB000060100C06E0</span> </a></span></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10IT02130010005402</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Marks and Spencers</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Liverpool (GB000080)</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Arrival notification rejected</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="rejected-arrivals/mrn-unknown">View and fix errors<span class="govuk-visually-hidden"> for 19IT021300100054F2</span> </a>
        <br><p style="padding-top: 10px;"><a href="history/view-history-rejected.html">View history<span class="govuk-visually-hidden"> for 10IT02130010005402</span></a></p></span>
    </div>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">24 November 2019</h2>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Movement reference number</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Trader name</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Action</span>
      </div>
      
      <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">3:45pm</span>
          <span class="govuk-summary-list__value govuk-!-width-full">19IT02130010005433</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Unilever</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Ramsgate	(GB000047)</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Arrival notification rejected</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="rejected-arrivals/mrn-duplicate">View and fix errors<span class="govuk-visually-hidden"> for 19IT021300100054F2</span> </a>
          <br><p style="padding-top: 10px;"><a href="history/view-history-rejected.html">View history<span class="govuk-visually-hidden"> for 10IT02130010005402</span></a></p></span>
        </div>            
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">12:39pm</span>
          <span class="govuk-summary-list__value govuk-!-width-full">19IT02130010005433</span>
          <span class="govuk-summary-list__value govuk-!-width-full">British Airways</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Felixstowe	(GB000051)</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Arrival notification rejected</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="rejected-arrivals/mrn-invalid">View and fix errors<span class="govuk-visually-hidden"> for 19IT021300100054F2</span> </a>
          <br><p style="padding-top: 10px;"><a href="history/view-history-rejected.html">View history<span class="govuk-visually-hidden"> for 10IT02130010005402</span></a></p></span>
        </div>            

    </div>


  <!--<h2 class="govuk-heading-l">22 November 2019</h2>
Messages in this section relate to simplified arrivals journeys - not done yet
    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Movement reference number</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">LS20090910MRN0001654</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Simplified</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10IT021300100054F2</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading remarks rejected</a></span>
      </div>            
    </div> -->

    

    <p class="govuk-body" style="padding-top: 15px; "><a href="homepage">Go to manage transit movements</a></p>

  </div>
</div>






{# <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- 
      22 November section
    -->

    <h2 class="govuk-heading-l">22 November 2019</h2>

    <h3 class="govuk-heading-m">45645654</h3>
      <div class="govuk-summary-list govuk-!-margin-bottom-2">
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Time updated</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        </div>   
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
          <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
          <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        </div>             
      </div>
    <br><br><br>


    <h3 class="govuk-heading-m">10IT021300100054F2</h3>
      <div class="govuk-summary-list govuk-!-margin-bottom-2">
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Time updated</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        </div>   
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Syntax error</a></span>
          <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
          <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        </div>             
      </div>
    <br><br><br>

        <h3 class="govuk-heading-m">10GB000060100C06E0</h3>
      <div class="govuk-summary-list govuk-!-margin-bottom-2">
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Time updated</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        </div>   
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Syntax error</a></span>
          <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
          <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        </div>             
      </div>
    <br><br><br>

    <h3 class="govuk-heading-m">10IT021300100054F2</h3>
      <div class="govuk-summary-list govuk-!-margin-bottom-2">
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Time updated</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
          <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        </div>   
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Syntax error</a></span>
          <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
          <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        </div>             
      </div>
      
    <br><br><br>    




  </div>
</div> #}
{% endblock %}
