{% extends "layout.html" %}

{% block pageTitle %}
  Draft applications
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Drafts
    </h1>

    <!-- 
      25th November section
    -->

    

    <!--
      Departures section
    -->

    <h2 class="govuk-heading-l" id="simplified-procedure">Departures</h2>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Created</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Movement reference number</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Actions</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div> 
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div> 
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div>              
    </div>

    <br><br><br>
    <h2 class="govuk-heading-l">Arrivals</h2>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Created</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Movement reference number</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Actions</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am </span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="continue-draft-1">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div> 
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div> 
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">25 November 2019 9:45am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="delete-declaration">Delete</a></span>
      </div>              
    </div>

    <br><br><br>

  </div>
</div>
{% endblock %}
