{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Manage transit movements
    </h1>

    <h2 class="govuk-heading-m">Departures</h2>

    <p class="govuk-body"><a href="../../departures/version-1/task-list">Make a transit declaration</a></p>

    <p class="govuk-body">There are no draft transit declarations</p>

    <p class="govuk-body">There are no transit declarations</p>


    <h2 class="govuk-heading-m">Arrivals</h2>

    <p class="govuk-body"><a href="movement-reference">Make an arrival notification</a></p>
    
    <p class="govuk-body">There are no draft arrival notifications </p>

    <p class="govuk-body">There are no arrival notifications</p>


  </div>
</div>
{% endblock %}
