{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Version 2
      </h1>

      <p><a href="homepage.html">Arrivals journey</a> from home page and including seals</p>

      <h2 class="govuk-heading-m">Arrival notification rejection</h2>
      <p><a href="rejected-arrivals/mrn-invalid">Invalid movement reference number</a></p>
      <p><a href="rejected-arrivals/mrn-unknown">Unknown movement reference number</a></p>
      <p><a href="rejected-arrivals/mrn-duplicate">Duplicate movement reference number</a></p>
      <p><a href="rejected-arrivals/1-error-missing-data.html">Missing (EORI example)</a></p>
      <p><a href="rejected-arrivals/1-error-invalid-characters">Invalid type characters (EORI example)</a></p>
      <p><a href="rejected-arrivals/1-error-incorrect-code">Incorrect code value (country where event happened example)</a></p>
      <p><a href="rejected-arrivals/too-many/too-many-seals.html">Too many repetitions (seals example)</a></p>
      <p><a href="rejected-arrivals/message-out-of-sequence.html">Message out of sequence</a></p>
      <p><a href="rejected-arrivals/too-long">Element too long</a></p>
      <p><a href="rejected-arrivals/too-short">Element too short</a></p>
      <p><a href="problem-with-service-data-start-again">Problem with service</a> - back button or user actions mean data incomplete. User needs to start again.</p>
      <p><a href="problem-with-service-remove-at-same-time">Problem with service</a> - data removed by one user, and another user signed in, data is incomplete, need to redo event data.</p>








      


     

    </div>
  </div>

{% endblock %}
