{% extends "layout.html" %}

{% block pageTitle %}
Have any of the seals changed?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "seals-changed",
          name: "seals-changed",
          fieldset: {
            legend: {
              text: "Do you need to add seals information?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "Add seals information if it changed on the journey or was not given in the transit declaration."
          },
          items: [
            {
              value: "Yes redirect(new-seal-number)",
              text: "Yes"
            },
            {
              value: "No redirect(check-answers-no-events)",
              text: "No"
            }
          ]
        }) }}

{{ govukButton({
  text: "Save and continue"
}) }}

    </form>

  </div>
</div>

{% endblock %}