{% extends "layout.html" %}

{% block pageTitle %}
What is the address of the trader at destination? 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="place-of-notification-postcode-2" class="form" method="post">

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
    
    {% call govukFieldset({
      legend: {
        text: "What is the address of the trader at destination?",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
    
      {{ govukInput({
        label: {
          html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        id: "address-line-1",
        classes: "govuk-!-width-two-thirds",
        name: "address-line-1"
      }) }}
    
      <!-- {{ govukInput({ 
        label: {
          html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        id: "address-line-2",
        name: "address-line-2"
      }) }}-->
    
      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-town",
        name: "address-town"
      }) }}

    
      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "address-postcode"
      }) }}
    
    {% endcall %}


    {{ govukButton({
      text: "Save and continue"
    }) }}


  </div>
</div>

{% endblock %}