{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers for this event

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="success-screen" method="post">

        <h1 class="govuk-heading-xl">Event 1</h1>

        <!-- First section -->

        {% set eventInfo = [] %}

        {% set eventCountry = "" %}
        {% set vehicleCountry = "" %}
        {% for country in CTCData.countries %}
          {% if country.value == data['event-country'] | trim %}
            {% set eventCountry = country.text %}
          {% endif %}
          {% if country.value == data['vehicle-country'] | trim %}
            {% set vehicleCountry = country.text %}
          {% endif %}
        {% endfor %}

        {% set eventInfo = (eventInfo.push(

                  {
                    key: {
                      text: "Which country were the goods in when the event happened?"
                    },
                    value: {
                      text: "Poland"
                    },
                    actions: {
                      items: [
                        {
                          
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Where did the event happen?"
                    },
                    value: {
                      text: "A4 in Krakow"
                    },
                    actions: {
                      items: [
                        {
                          
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Has this event been reported to customs?"
                    },
                    value: {
                      text: "No"
                    },
                    actions: {
                      items: [
                          {
                            
                          }
                      ]
                    }
                  }
                  ), eventInfo) %}

        {{ govukSummaryList({
                    classes: 'govuk-!-margin-bottom-9',
                    rows: eventInfo
                  }) }}

        

              <h2 class="govuk-heading-m">Different container and vehicle</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Did the goods move to a different container or vehicle?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['change-vehicle'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What did the goods move to?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Different container and vehicle
                  </dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
                </div>
              </dl>

              <h3 class="govuk-heading-s">Container numbers</h3>

              <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Container 1
                  </dt>
                  <dt class="govuk-summary-list__value">
                    9564458654884
                  </dt>
                  <dd class="govuk-summary-list__value"></dd>
                  <dd class="govuk-summary-list__actions">
                  </dd>
                </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Container 2
                    </dt>
                    <dt class="govuk-summary-list__value">
                      362645454545
                    </dt>
                    <dd class="govuk-summary-list__value"></dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                  </div>
                </dl>

                  <h3 class="govuk-heading-s">Vehicle information</h3>

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        What is the vehicle name, registration or reference?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        AB12 REG
                      </dd>
                      <dd class="govuk-summary-list__actions">
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Which country is the vehicle registered in?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        United Kingdom
                      </dd>
                      <dd class="govuk-summary-list__actions">
                      </dd>
                    </div>
                  </dl>

          </dl>
         
          <h2 class="govuk-heading-m">Seals</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-4">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have any of the seals changed?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['seals-changed'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Seal 1
              </dt>
              <dd class="govuk-summary-list__value">
                996544545
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
           
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Seal 2
              </dt>
              <dd class="govuk-summary-list__value">
                445788564
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
          </dl>

          <p class="govuk-body"><a href="arrivals-history">Go back to view arrival notification</a></p>


              </form>
            </div>
          </div>

        {% endblock %}