{% extends "layout.html" %}

{% block pageTitle %}
What happened? 
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">


    {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "what-happened",
  name: "what-happened",
  fieldset: {
    legend: {
      text: "What happened?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "accident",
      text: "An accident"
    },
    {
      value: "Change to the planned route",
      text: "Change to the planned route"
    },
    {
      value: "Damaged or tampered with customs seals",
      text: "Damaged or tampered with customs seals"
    },
    {
        value: "Moved goods to a different type of transport",
        text: "Moved goods to a different type of transport"
    },
    {
        value: "Moved goods to a different vehicle",
        text: "Moved goods to a different vehicle"
    },
    {
        value: "Unloaded goods",
        text: "Unloaded goods"
    },
    {
      value: "Other",
      text: "Other"
  }
    
    
  ]
}) }}


{{ govukButton({
  text: "Save and continue",
  href: "event-type-list"
}) }}
</form>
  </div>
</div>

{% endblock %}