{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers before sending this arrival notification - Name of service - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="success-screen" method="post">

        <h1 class="govuk-heading-xl">Check your answers before sending this arrival notification</h1>

        {% set movementReference = [] %}

        {% set movementReference = (movementReference.push(
                {
                    key: {
                    text: "Movement reference number"
                    },
                    value: {
                    text: data['movement-reference']
                    },
                    actions: {
                    items: [
                        {
                        href: "movement-reference",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                        }
                    ]
                    }
                }
                ), movementReference) %}

        {% set goodsLocation = [] %}

        {% set goodsLocation = (goodsLocation.push(
                {
                    key: {
                    text: "Where are the goods?"
                    },
                    value: {
                    text: data['where-are-the-goods']
                    },
                    actions: {
                    items: [
                        {
                        href: "where-goods",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                        }
                    ]
                    }
                }
                ), goodsLocation) %}

        {% if (data['where-are-the-goods'] == "Border Force office") %}
          {% set goodsLocation = (goodsLocation.push(
                    { 
                    key: {
                    text: "Where are the goods located?"
                    },
                    value: {
                    text: data['border-force-office']
                    },
                    actions: {
                    items: [
                        {
                        href: "border-force-office",
                        text: "Change",
                        visuallyHiddenText: "address"
                        }
                    ]
                    }
                },
                { 
                    key: {
                    text: "Which customs approved location has the goods?"
                    },
                    value: {
                    text: data['customs-facility']
                    },
                    actions: {
                    items: [
                        {
                        href: "customs-facility",
                        text: "Change",
                        visuallyHiddenText: "which location has the goods?"
                        }
                    ]
                    }
                }
                ), goodsLocation) %}
        {% endif %}

        {% if (data['where-are-the-goods'] == "Authorised consignee’s location") %}
          {% set goodsLocation = (goodsLocation.push(
                { 
                key: {
                  text: "Authorised location code"
                },
                value: {
                  text: data['authorised-location-code']
                },
                actions: {
                  items: [
                    {
                      href: "authorised-location-code",
                      text: "Change",
                      visuallyHiddenText: "address"
                    }
                  ]
                }
              }
                ), goodsLocation) %}
        {% endif %}

        {% set traderDetails = [] %}

        {% set traderDetails = (traderDetails.push(
                {
                    key: {
                    text: "Name"
                    },
                    value: {
                    text: data['trader-name']
                    },
                    actions: {
                    items: [
                        {
                        href: "trader-name",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                        }
                    ]
                    }
                },
                {
                    key: {
                    text: "Address"
                    },
                    value: {
                    html: data['address-line-1'] + "<br>" + data['address-town'] + "<br>" + data['address-postcode']
                    },
                    actions: {
                    items: [
                        {
                        href: "trader-address",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                        }
                    ]
                    }
                },
                {
                    key: {
                    text: "EORI number"
                    },
                    value: {
                    text: data['eori-number']
                    },
                    actions: {
                    items: [
                        {
                        href: "eori-number",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                        }
                    ]
                    }
                }
                ), traderDetails) %}

        {% set events = [] %}

        {% set events = (events.push(
                {
                    key: {
                    text: "Event 1"
                    },
                    value: {
                    text: data['event-place']
                    },
                    actions: {
                    items: [
                        {
                        href: "check-event-answers",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                        }
                    ]
                    }
                },
                {
                    key: {
                    text: "Event 2"
                    },
                    value: {
                    text: "Champs Elysees in Paris"
                    },
                    actions: {
                    items: [
                        {
                        href: "check-event-answers",
                        text: "Change",
                        visuallyHiddenText: "date of birth"
                        }
                    ]
                    }
                }
                
                ), events) %}

        {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: movementReference
        }) }}

        <h2 class="govuk-heading-m">Goods details</h1>

        {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: goodsLocation
        }) }}

        <h2 class="govuk-heading-m">Trader details</h1>

        {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: traderDetails
        }) }}

        <h2 class="govuk-heading-m">Events</h2>

        {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: events
        }) }}

        <p><a href="event-list">Add or remove events</a><p>

        <h2 class="govuk-heading-m">Now send your arrival notification</h2>

        <p class="govuk-body">By sending this you are confirming that the details you are providing are correct, to the best of your knowledge.</p>
        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
                text: "Confirm and send",
                href: "arrival-sent"
                }) }}

      </form>
    </div>
  </div>

{% endblock %}