{% extends "layout.html" %}

{% block pageTitle %}
What is the name of the customs approved place?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Which customs sub-place or approved location has the goods? </h1>

    <p class="govuk"> </p>

    <form class="form" action="border-force-office" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        classes: "govuk-input--width-20",
        hint: {
          text: ""
        },
              
        id: "customs-facility",
        name: "customs-facility"
}) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
  text: "Save and continue"
}) }}

    </form>

  </div>
</div>

{% endblock %}