{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Second draft
      </h1>

      <p><a href="homepage.html">Arrivals journey</a> including home page and responses</p>

      <h2 class="govuk-heading-m">Type of event</h2>
      <p><a href="any-events.html">Ask what type of event (2 pages)</a></p>
      <p><a href="event-what-happened.html">Ask what type of event (1 page)</a></p>
    
      <h2 class="govuk-heading-m">Check event answers</h2>
      <p><a href="check-event-answers/check-event-answers-both.html">Vehicle and multiple containers</a></p>
      <p><a href="check-event-answers/check-event-answers-vehicle.html">Vehicle</a></p>
      <p><a href="check-event-answers/check-event-answers-container.html">Multiple containers</a></p>

      <h2 class="govuk-heading-m">Error pages</h2>
      <p><a href="problem-with-service.html">Problem with service page</a></p>
      <p><a href="service-not-available.html">Service not available</a></p>
      <p><a href="rejected-arrivals/message-out-of-sequence.html">Messages out of sequence</a></p>
      <p><a href="rejected-arrivals/1-error-invalid-characters.html">One error - (37) invalid type characters</a></p>
      <p><a href="rejected-arrivals/1-error-missing-data.html">One error - missing data</a></p>
  

      <h2 class="govuk-heading-m">History</h2>
      <p><a href="history/arrivals.html">View history using summary list</a></p>
      <p><a href="history/view-history-status.html">View history using status as heading</a></p>
      <p><a href="history/view-history.html">View history using date as heading</a></p>
      <p><a href="history/view-history-paragraph.html">View history using paragraph text</a></p>








     




    </div>
  </div>

{% endblock %}
