{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Second draft
      </h1>

      <p><a href="homepage.html">Arrivals journey</a> including home page and responses</p>

      <h2 class="govuk-heading-m">Type of event</h2>
      <p><a href="any-events.html">Ask what type of event (2 pages)</a></p>
      <p><a href="event-what-happened.html">Ask what type of event (1 page)</a></p>

      <h2 class="govuk-heading-m">Place of notification</h2>
      <p><a href="trader-address-2.html">Using wording "place of notification"</a></p>
    
      <h2 class="govuk-heading-m">Check event answers</h2>
      <p><a href="check-event-answers/check-event-answers-both.html">Vehicle and multiple containers</a></p>
      <p><a href="check-event-answers/check-event-answers-vehicle.html">Vehicle</a></p>
      <p><a href="check-event-answers/check-event-answers-container.html">Multiple containers</a></p>

      <h2 class="govuk-heading-m">Error pages</h2>
      <p><a href="problem-with-service.html">Problem with service page</a></p>
      <p><a href="service-not-available-generic.html">Service not available</a> show this when problem happens</p>
      <p><a href="service-not-available.html">Service not available</a> show this version once we know when it will be available again. Must change date every time.</p>
      <p><a href="rejected-arrivals/message-out-of-sequence.html">Messages out of sequence</a></p> 
      <p><a href="rejected-arrivals/message-out-of-sequence-2.html">Messages out of sequence - option 2</a></p>
      <p><a href="rejected-arrivals/duplicate-submission.html">Duplicate submission</a>- system sends same message with same unique id</p>

      <h3 class="govuk-heading-s">EORI errors</h3>

      <p><a href="rejected-arrivals/1-error-invalid-characters.html">One error - (37) invalid type characters for EORI</a></p>
      <p><a href="rejected-arrivals/1-error-missing-data.html">One error - missing EORI</a></p>
      <p><a href="rejected-arrivals/1-error-missing-data-2.html">One error - missing EORI - option 2</a></p>
      <p><a href="rejected-arrivals/1-error-incorrect-code.html">One error - entry given not in reference code list</a></p>
      <p><a href="rejected-arrivals/1-error-incorrect-code-3.html">One error - entry given not in reference code list - option 2</a></p>

      <h3 class="govuk-heading-s">MRN errors</h3>
      <p><a href="rejected-arrivals/mrn-invalid.html">MRN invalid</a></p>
      <p><a href="rejected-arrivals/mrn-unknown.html">MRN unknown</a></p>
      <p><a href="rejected-arrivals/mrn-duplicate.html">MRN duplicate</a></p>

      <h3 class="govuk-heading-s">Multiple errors in same field</h3>
      <p><a href="rejected-arrivals/multiple-trader-name-errors.html">Trader name invalid characters and too long</a></p>

      <h3 class="govuk-heading-s">Multiple errors in different fields</h3>
      <p><a href="rejected-arrivals/mrn-eori-errors.html">MRN duplicate and EORI too long</a></p>

      <h3 class="govuk-heading-s">Too many repetitons (35)</h3>
      <p><a href="rejected-arrivals/too-many/too-many-events">Events</a></p>
      <p><a href="rejected-arrivals/too-many/too-many-seals">Seals (might not need in arrival notification)</a></p>
      <p><a href="rejected-arrivals/too-many/too-many-containers">Containers</a></p>


      <h2 class="govuk-heading-m">History</h2>
      <p><a href="history/view-history-list-goods-released.html">View history using summary list</a></p>
      <p><a href="history/view-history-goods-released.html">View history using status as heading</a></p>
      <p><a href="history/view-history-headings.html">View history using date as heading</a></p>
      <p><a href="history/view-history-paragraph.html">View history using paragraph text</a></p>








     




    </div>
  </div>

{% endblock %}
