{% extends "layout.html" %}

{% block pageTitle %}
Arrival notification received - Name of service - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% set mainClasses = "govuk-main-wrapper--l" %}

    {% from "govuk/components/panel/macro.njk" import govukPanel %}

    {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
        titleText: "Received arrival notification",
        html: "MRN <strong>1900005112345678</strong>"
      }) }}

        <p class="govuk-body"></p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">We send the arrival notification to a European Commission system. It checks the details provided and gives a response.
        </p>
        <p class="govuk-body"> 
        </p>

        <p class="govuk-body">Go to 
          <a href="#" class="govuk-link">X</a> to find out when goods have been released.
        </p>
      </div>
    </div>

  <!--  {{ govukButton({
          text: "Accept and send"
        }) }}-->
       
    </form>

  </div>
</div>
{% endblock %}