{% extends "layout.html" %}

{% block pageTitle %}
What type of guarantee are you using?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="liability-amount" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--stacked",
        idPrefix: "guarantee-type",
        name: "guarantee-type",
        fieldset: {
          legend: {
            text: "What type of guarantee are you using?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "Cash deposit guarantee redirect(other-reference)",
            text: "(3) Cash deposit guarantee"
          },

              {
            value: "Comprehensive guarantee redirect(guarantee-reference)",
            text: "(1) Comprehensive guarantee"
          },

              {
            value: "Flat-rate voucher redirect(guarantee-reference)",
            text: "(4) Flat-rate voucher"
          },

              {
            value: "Guarantee not required for certain public bodies redirect(other-reference)",
            text: "(8) Guarantee not required for certain public bodies"
          },

              {
            value: "Guarantee not required for journey between the office of departure and the office of transit redirect(other-reference)",
            text: "(7) Guarantee not required for the journey between the office of departure and the office of transit"
          },

              {
            value: "Guarantee waived redirect(other-reference)",
            text: "(6) Guarantee waived redirect"
          },

              {
            value: "Guarantee waiver redirect(guarantee-reference)",
            text: "(0) Guarantee waiver"
          },

              {
            value: "Guarantee waiver by agreement redirect(other-reference)",
            text: "(A) Guarantee waiver by agreement"
          },

              {
            value: "Guarantee waiver, secured amount redirect(other-reference)",
            text: "(5) Guarantee waiver, secured amount not greater than 500 Euro’s "
          },

              {
            value: "Individual guarantee redirect(guarantee-reference)",
            text: "(2) Individual guarantee"
          }, 

                {
            value: "Individual guarantee with multiple usage redirect(guarantee-reference)",
            text: "(9) Individual guarantee with multiple usage"
          },
          {
            value: "(B) TIR redirect(other-reference)",
            text: "(B) TIR"
          }
        ]
      }) }}
              

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a>

    </form>

  </div>
</div>

{% endblock %}