{% extends "layout.html" %}

{% block pageTitle %}
Did something happen on the route?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

      <form class="form" method="post">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "something-happened",
  name: "something-happened",
  fieldset: {
    legend: {
      text: "Did any of these events happen on the journey?",
      isPageHeading: true, 
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "An accident Change to the planned route
      Damaged or tampered with customs seals
      Moved goods to a different type of transport
      Moved goods to a different vehicle
      Unloaded goods"
  },
  items: [
    {
      value: "Yes redirect(what-happened)",
      text: "Yes"
    },
    {
      value: "No redirect(check-answers-no-events)",
      text: "No"
    }
  ]
}) }}


{{ govukButton({
  text: "Save and continue"
}) }}

</form>
  </div>
</div>

{% endblock %}