{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Arrival notifications
    </h1>

    <p class="govuk-body"><a href="movement-reference">Make an arrival notification</a></p>

    <!-- 
      22 November section
    -->

    <h2 class="govuk-heading-m">13 February 2020</h2>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Movement reference number</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Trader name</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Action</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">12:34am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">20NL5631291B1A3361</span>
        <span class="govuk-summary-list__value govuk-!-width-full">BMW (UK) Limited</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Birmingham Airport (GB000011)</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Simplified</span>
        <span class="govuk-summary-list__value govuk-!-width-full">You have permission to unload</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="../unloading-remarks/version-3/seals-included/all-goods-unloaded">Make unloading remarks <span class="govuk-visually-hidden">for 20GB000060100C06E0</span> </a></span></span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">11:03pm</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10GB000060100C06E0</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Caterpillar</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Teesport	(GB000219)</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Goods released</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="history/view-history-goods-released.html">View history<span class="govuk-visually-hidden"> for 10GB000060100C06E0</span> </a></span>
        <span class="govuk-summary-list__value govuk-!-width-full"> </span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">9:19am</span>
        <span class="govuk-summary-list__value govuk-!-width-full">10IT02130010005402</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Marks and Spencers</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Liverpool (GB000080)</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
        <span class="govuk-summary-list__value govuk-!-width-full">Arrival notification rejected</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="rejected-arrivals/mrn-unknown">View and fix errors<span class="govuk-visually-hidden"> for 19IT021300100054F2</span> </a>
        <br><p style="padding-top: 10px;"><a href="history/view-history-rejected.html">View history<span class="govuk-visually-hidden"> for 10IT02130010005402</span></a></p></span>
    </div>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">12 February 2020</h2>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Movement reference number</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Trader name</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Procedure</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Action</span>
      </div>
      
      <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">5.39pm</span>
          <span class="govuk-summary-list__value govuk-!-width-full">10DK0004601366B740</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Unilever</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Ramsgate	(GB000047)</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Arrival notification rejected</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="rejected-arrivals/mrn-duplicate">View and fix errors<span class="govuk-visually-hidden"> for 19IT021300100054F2</span> </a>
          <br><p style="padding-top: 10px;"><a href="history/view-history-rejected.html">View history<span class="govuk-visually-hidden"> for 10IT02130010005402</span></a></p></span>
        </div>            
        <div class="govuk-summary-list__row">
          <span class="govuk-summary-list__value govuk-!-width-full">12:39pm</span>
          <span class="govuk-summary-list__value govuk-!-width-full">19IT02130010005433</span>
          <span class="govuk-summary-list__value govuk-!-width-full">British Airways</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Felixstowe	(GB000051)</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Normal</span>
          <span class="govuk-summary-list__value govuk-!-width-full">Arrival notification rejected</span>
          <span class="govuk-summary-list__value govuk-!-width-full"><a href="rejected-arrivals/mrn-invalid">View and fix errors<span class="govuk-visually-hidden"> for 19IT021300100054F2</span> </a>
          <br><p style="padding-top: 10px;"><a href="history/view-history-rejected.html">View history<span class="govuk-visually-hidden"> for 10IT02130010005402</span></a></p></span>
        </div>            

    </div>

   

    <p class="govuk-body" style="padding-top: 15px; "><a href="homepage">Go to manage transit movements</a></p>

  </div>
</div>







{% endblock %}
