{% extends "layout.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      
      <p class="govuk-body">Your answers have not been saved.</p>
      
      <p class="govuk-body">
        <a class="govuk-link" href="homepage">Go back to manage transit movements</a> and try again. 
      </p>
    </div>
  </div>
{% endblock %}
