{% extends "layout.html" %}

{% block pageTitle %}
Goods released
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Goods released
    </h1>

    <h2 class="govuk-heading-l">Description</h2>
    <p class="govuk-body">Goods released notification - transit discharged</p>

    <h2 class="govuk-heading-l">Date</h2>
    <p class="govuk-body">27 November 2019</p>

    <h2 class="govuk-heading-l">Movement reference number</h2>
    <p class="govuk-body">10GB000060100C06E0</p>

  </div>
</div>
{% endblock %}
