{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Move goods with the Common Transit Convention
    </h1>

    <h2 class="govuk-heading-m">Transit movements</h2>

    <p class="govuk-body"><a href="../../departures/version-1/task-list">Make a transit declaration</a></p>

    <p class="govuk-body"><a href="../../version-1/movement-reference">Make an arrival notification</a></p>

    <h2 class="govuk-heading-m">Check for updates</h2>

    <p class="govuk-body"><a href="departures">View transit declarations</a></p>

    <p class="govuk-body"><a href="arrivals">View arrival notifications</a></p>
    
    <h2 class="govuk-heading-m">Drafts</h2>

    <p class="govuk-body"><a href="draft-declarations">View drafts</a></p>



  </div>
</div>
{% endblock %}
