{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Common Transit Convention for traders
    </h1>

    <h2 class="govuk-heading-l">Create new declaration</h2>

    <p class="govuk-body"><a href="../../version-1/movement-reference">Create new arrival declaration</a></p>

    <p class="govuk-body"><a href="../../departures/version-1/task-list">Create new departure declaration</a></p>

    <h2 class="govuk-heading-l">View declarations</h2>

    <p class="govuk-body"><a href="draft-declarations">View draft declarations</a></p>

    <p class="govuk-body"><a href="arrivals">View all arrival declarations</a></p>

    <p class="govuk-body"><a href="departures">View all departure declarations</a></p>

  </div>
</div>
{% endblock %}
