{% extends "layout.html" %}

{% block pageTitle %}
What do you want to do? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <h1 class="govuk-heading-xl">You cannot use this service</h1>

        <p class="govuk-body">You must <a href="#">use the original NCTS service (opens in a new tab)</a>.</p>

      </form>

  </div>
</div>

{% endblock %}
