{% extends "layout.html" %}

{% block pageTitle %}
  Departure declaration cancelled {{ data['pageTitleAddOn' ]}}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% set mainClasses = "govuk-main-wrapper--l" %}

    {% from "govuk/components/panel/macro.njk" import govukPanel %}

    {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Departure declaration pre-lodged
          </h1>
          <div class="govuk-panel__body">
            for local reference number<br><strong>{{ data['local-reference-number'] }}</strong>
          </div>
        </div>

        <p class="govuk-body"></p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">You can:</p>

        <ul class="govuk-list govuk-list--bullet govuk-body">
          <li><a href="departures-history" class="govuk-link">manage your departure declarations</a></li>
          <li><a href="local-reference-number" class="govuk-link">make another departure declaration</a></li>
        </ul>


      </div>
    </div>

  </div>
</div>

{% endblock %}