{% extends "layout.html" %}

{% block pageTitle %}
View history {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block content %}


<div class="govuk-width-container">

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">History</h1>

                
                <h2 class="govuk-heading-m">Unloading remarks sent</h2>

                <p>13 February 2020 at 12:30pm</p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">        

                <h2 class="govuk-heading-m">Received permission to unload</h2>

                <p>13 February 2020 at 11:45am</p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">        

                <h2 class="govuk-heading-m">Arrival notification sent</h2>

                <p>13 February 2020 at 11:34am</p>

                <p><a href="../version-4/view-arrival-notification">View arrival notification</a></p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">        

            </div>
        </div>

        <p><a href="../version-4/arrivals-history.html" class="govuk-link">Go back to arrival notifications</a></p>


    </main>
</div>


{% endblock %}