{% extends "layout.html" %}

{% block pageTitle %}
You must unload all of the goods before you can enter unloading remarks
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

     <h1 class="govuk-heading-xl">You must unload all of the goods before you can enter unloading remarks</h1>

     {# <p>Unload all goods first then come back here and complete unloading remarks.</p> #}

     <p>Go to <a href="#">arrival notifications</a>.</p>

    </form>
  </div>
</div>


{% endblock %}