{% extends "layout.html" %}

{% block pageTitle %}
Error: Where are the goods?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select if the goods are at a Border Force office or authorised consignee’s location ",
      href: "#mrn-empty"
    }
    
  ]
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "where-are-the-goods",
        name: "where-are-the-goods",
        fieldset: {
          legend: {
            text: "Where are the goods?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        errorMessage: {
          text: "Select if the goods are at a Border Force office or authorised consignee’s location"
        },
        items: [
          {
            value: "Border Force office, redirect(border-force-office)",
            text: "Border Force office"
            },
          {
            value: "Authorised consignee’s location, redirect(authorised-location-code)",
            text: "Authorised consignee’s location"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}



    </form>
  </div>
</div>


{% endblock %}