{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Manage transit movements
    </h1>

    <h2 class="govuk-heading-m">Departures</h2>

    <p class="govuk-body"><a href="../../departures/version-1/task-list">Make a transit declaration</a></p>

    <p class="govuk-body"><a href="drafts/draft-declarations.html">View draft transit declarations</a></p>

    <p class="govuk-body"><a href="departures">View transit declarations</a></p>

    <h2 class="govuk-heading-m">Arrivals</h2>

    <p class="govuk-body"><a href="../version-3/movement-reference.html">Make an arrival notification</a></p>

    <p class="govuk-body"><a href="drafts/draft-arrivals.html">View draft arrival notifications</a></p>

    <p class="govuk-body"><a href="arrivals-history.html">View arrival notifications</a></p>

    

  </div>
</div>
{% endblock %}
