{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Version 3
      </h1>

      <p><a href="homepage.html">Home page</a> - manage arrivals</p>
     
      <h2 class="govuk-heading-m">
        Designs to cover core errors
       </h2>
       <p>We think the user will not get these. We have fixed these with journey design, new system and validation. Plan to monitor and record occurrences of these (if there are any).</p>
       </p><p><a href="rejected-arrivals/generic-not-supported.html">Rejected code 15 not supported in this position</a> (data received that should not be)</p>
      <p><a href="rejected-arrivals/generic-duplicate-reference.html">Rejected code 26 duplicate detected</a> (core receives messages with the same interchange reference)</p>
      <p><a href="rejected-arrivals/generic-invalid-characters.html">Rejected code 37 invalid characters</a> (fixed with validation?)</p>

    </div>
  </div>

{% endblock %}
