{% extends "layout.html" %}

{% set serviceName %}
Check your guarantee balance
{% endset%}

{% block pageTitle %}
  What is your access code - Check your guarantee balance
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="guarantee-reference">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">What is the access code?</h1>

            <form class="form" action="access-code" method="post">

                <div class="govuk-form-group">
                    {{ govukInput({
                      label: {
                        text: ""
                      },
                      type: "password",
                      id: "accessCode",
                      classes: "govuk-input--width-5",
                      name: "accessCode",
                      value: data['accessCode']
                    }) }}
                </div>

                {{ govukButton({
                  text: "Continue"
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
