{% extends "layout.html" %}

{% block pageTitle %}
  Your guarantee balance - Check your guarantee balance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your balance</h1>
        <div class="govuk-panel__body">
          <br><strong>£8,500</strong>
        </div>
      </div>

      <p class="govuk-body">You can
        <a class="govuk-link" href="eori.html">check another guarantee balance</a>
      </p>

    </div>
  </div>

{% endblock %}
