{% extends "layout.html" %}
{% set serviceName %}
Check your guarantee balance
{% endset%}


{% block pageTitle %}
  We could not confirm your details - Check your guarantee balance 
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">We could not confirm your details</h1>

      <form class="form" action="/url/of/next/page" method="post">

<!--
        <p>[Insert question content here]</p>

        <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p>
-->
          <p>You have entered information that does not match our records too many times.</p> 
          <p>For security reasons, you must wait [time period] and then try again.</p>
       

     
   


<!--       <a href="#" class="govuk-button">Try again</a>-->

      </form>

    </div>
  </div>

{% endblock %}
