{% extends "layout.html" %}

{% block pageTitle %}
  We could not confirm your details - [service name] - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">We could not confirm your guarantee balance</h1>

      <form class="form" action="/url/of/next/page" method="post">


        <p>There was a problem, please try again.</p>
       

     
   


       <a href="#" class="govuk-button">Try again</a>

      </form>

    </div>
  </div>

{% endblock %}
