{% extends "layout.html" %}
{% set serviceName %}
Check your transit guarantee balance
{% endset%}


{% block pageTitle %}
  Check your answers - Check your transit guarantee balance
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">Guarantee balance</span>

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            EORI number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['eori'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="eori.html">
              Change
              <span class="govuk-visually-hidden"> EORI number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Guarantee reference number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['guaranteeReference'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="guarantee-reference.html">
              Change
              <span class="govuk-visually-hidden"> Guarantee reference number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Access code
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['accessCode'] | replace(r/(.+)/, "••••") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="access-code.html">
              Change
              <span class="govuk-visually-hidden"> Access code</span>
            </a>
          </dd>
        </div>

      </dl>

      <form action="check-your-answers" class="form" method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
