{% extends "layout.html" %}

{% set serviceName %}
Check your transit guarantee balance
{% endset%}



{% block pageTitle %}
  Your details do not match our records - Check your guarantee balance 
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your details do not match our records</h1>

      <form class="form" action="/url/of/next/page" method="post">

<!--
        <p>[Insert question content here]</p>

        <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p>
-->
        <p>You must 
        <a href="check-your-answers.html">check your answers and try again</a>.
        </p>
          <p> If your details are correct, you must <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries" target="_blank">contact the NCTS helpdesk (opens in a new tab)</a>.</p>

   
<!-- <a href="check-your-answers.html" class="govuk-button">Try again</a>-->

<!--       <a href="#" class="govuk-button">Continue</a>-->

      </form>

    </div>
  </div>

{% endblock %}
