{% extends "layout.html" %}

{% set serviceName %}
Check your guarantee balance
{% endset%}


{% block pageTitle %}
  We are trying to get your guarantee balance - [service name] - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">We are trying to get your guarantee balance</h1>

      <form class="form" action="/url/of/next/page" method="post">

<!--
        <p>[Insert question content here]</p>

        <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p>
-->
        <p>This may take up to 30 seconds.</p>
       

     
   


<!--       <a href="#" class="govuk-button">Try again</a>-->

      </form>

    </div>
  </div>

{% endblock %}
