{% extends "layout.html" %}

{% block pageTitle %}
Do you need to add transport details?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "add-transport-details",
          name: "add-transport-details",
          fieldset: {
            legend: {
              text: "Do you need to add transport details?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes, redirect(transport-details/which-transport-details)",
              text: "Yes"
            },
            {
              value: "No, redirect(check-your-answers)",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
