{% extends "layout.html" %}

{% block pageTitle %}
Check your answers {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-xl">{{ data['items'] }}</span>
        <form class="form" method="post" action="check-answers-route">

            <h1 class="govuk-heading-xl">Check your answers</h1>

            <!-- 
                Item details
            -->

            <h2 class="govuk-heading-m">Item details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">

                    <!-- Item description -->

                    <dt class="govuk-summary-list__key">
                        Description of item {{ data['itemNumber']}}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['itemDescription'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="item-details/item-description">
                            Change<span class="govuk-visually-hidden">
                                description of item {{ data['itemNumber']}}</span>
                        </a>
                    </dd>
                </div>

                <!-- Total gross mass -->

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total gross mass for item {{ data['itemNumber']}}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['grossMass'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="item-details/total-net-mass">
                            Change<span class="govuk-visually-hidden">
                                total gross mass for item {{ data['itemNumber']}}</span>
                        </a>
                    </dd>
                </div>

                <!-- Total net mass -->

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Declare total net mass for item {{ data['itemNumber']}}?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['netMassResponse'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="item-details/add-total-net-mass">
                            Change<span class="govuk-visually-hidden">
                                declare total net mass for item {{ data['itemNumber']}}</span>
                        </a>
                    </dd>
                </div>

                {% if (data['netMassResponse'] == "Yes ") %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total net mass for item {{ data['itemNumber']}}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['netMass'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="item-details/total-net-mass">
                            Change<span class="govuk-visually-hidden">
                                total net mass for item {{ data['itemNumber']}}</span>
                        </a>
                    </dd>
                </div>

                {% endif %}

                <!-- Commodity code -->

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does item {{ data['itemNumber']}} have a commodity code?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['commodityCodeResponse'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="item-details/is-commodity-code-known">
                            Change<span class="govuk-visually-hidden">
                                if item {{ data['itemNumber']}} has a commodity code</span>
                        </a>
                    </dd>
                </div>

                {% if (data['commodityCodeResponse'] == "Yes") %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Commodity code for item {{ data['itemNumber']}}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['itemCode'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="item-details/commodity-code">
                            Change<span class="govuk-visually-hidden">
                                commodity code for item {{ data['itemNumber']}}</span>
                        </a>
                    </dd>
                </div>

                {% endif %}

            </dl>

            <!-- 
                Trader details
            -->

            {% if (data['is-consignor-eori-known'] | length != "0") or (data['is-consignee-eori-known'] | length != "0") %}
            <h2 class="govuk-heading-m">Trader details</h2>
            {% endif %}

            <!-- 
                Consignor details
            -->

            {% if (data['is-consignor-eori-known'] | length != "0") %}

            <h3 class="govuk-heading-s">Consignor</h3>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Know consignor’s EORI number for item {{ data['itemNumber'] }}?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['is-consignor-eori-known'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="is-consignor-eori-known">
                            Change<span class="govuk-visually-hidden">
                                do you know the consignor’s EORI number for item {{ data['itemNumber'] }}</span>
                        </a>
                    </dd>
                </div>

                {% if (data['is-consignor-eori-known'] == "Yes ") %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consignor’s EORI number for item {{ data['itemNumber'] }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['consignorEORINumber'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="what-is-consignor-eori">
                            Change<span class="govuk-visually-hidden">
                                consignor’s EORI number for item {{ data['itemNumber'] }}</span>
                        </a>
                    </dd>
                </div>

                {% else %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consignor’s name for item {{ data['itemNumber'] }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['consignorName'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="consignor-name">
                            Change<span class="govuk-visually-hidden">
                                consignor’s name for item {{ data['itemNumber'] }}</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consignor’s address for item {{ data['itemNumber'] }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['consignor-number-street'] }} </br>
                        {{ data['consignor-town'] }} </br>
                        {{ data['consignor-postcode'] }} <br>
                        {{ data['consignor-country'] | getCountry }} <br>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="consignor-address">
                            Change<span class="govuk-visually-hidden">
                                consignor’s address for item {{ data['itemNumber'] }}</span>
                        </a>
                    </dd>
                </div>

                {% endif %}

                {% endif %}

            </dl>

            <!-- 
                consignee details
            -->

            {% if (data['is-consignee-eori-known'] | length != "0") %}

            <h3 class="govuk-heading-s">Consignee</h3>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Know consignee’s EORI number for item {{ data['itemNumber'] }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['is-consignee-eori-known'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="is-consignee-eori-known">
                            Change<span class="govuk-visually-hidden">
                                do you know the consignee’s EORI number for item {{ data['itemNumber'] }}</span>
                        </a>
                    </dd>
                </div>

                {% if (data['is-consignee-eori-known'] == "Yes ") %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consignee’s EORI number for item {{ data['itemNumber'] }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['consigneeEORINumber'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="what-is-consignee-eori">
                            Change<span class="govuk-visually-hidden">
                                consignee’s EORI number for item {{ data['itemNumber'] }}</span>
                        </a>
                    </dd>
                </div>

                {% else %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consignee’s name for item {{ data['itemNumber'] }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['consigneeName'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="consignee-name">
                            Change<span class="govuk-visually-hidden">
                                consignee’s name for item {{ data['itemNumber'] }}</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consignee’s address for item {{ data['itemNumber'] }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['consignee-number-street'] }} </br>
                        {{ data['consignee-town'] }} </br>
                        {{ data['consignee-postcode'] }} <br>
                        {{ data['consignee-country'] | getCountry }} <br>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="consignee-address">
                            Change<span class="govuk-visually-hidden">
                                consignee’s address for item {{ data['itemNumber'] }}</span>
                        </a>
                    </dd>
                </div>

                {% endif %}

                {% endif %}

            </dl>

            <!-- 
                Packages
            -->

            <h2 class="govuk-heading-m">Packages</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">


                {% for package in data['packagesArray'] %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Package {{ package.id }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ package.type }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="item-description">
                            Change<span class="govuk-visually-hidden">
                                package {{ data['itemNumber']}}</span>
                        </a>
                    </dd>
                </div>

                {% endfor %}

            </dl>

            <p class="govuk-body"><a href="packages/add-another-package">Add or remove packages</a></p>

            <!-- 
                    Containers
                -->

            {% if (data['addAnotherContainer'] | length != "0") %}

            <h2 class="govuk-heading-m">Containers</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {% for container in data['containersArray'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Shipping container {{ container.id }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ container.number }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="containers/container-number">
                            Change<span class="govuk-visually-hidden">
                                shipping container {{ data['containerCount']}}</span>
                        </a>
                    </dd>
                </div>
                {% endfor %}
            </dl>

            <p class="govuk-body"><a href="containers/add-another-container">Add or remove containers</a></p>

            {% endif %}


            <!-- 
                    Special mentions
                -->

            <h2 class="govuk-heading-m">Special mentions</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Movement contains domestic goods?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['addSpecialMention'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="special-mention/add-special-mention">
                            Change<span class="govuk-visually-hidden">
                                if the movement contains domestic goods</span>
                        </a>
                    </dd>
                </div>

                {% if (data['addSpecialMention'] == "Yes") %}

                {% for mention in data['mentionsArray'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Special mention {{ mention.id }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ mention.type }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="special-mention/special-mention-type">
                            Change<span class="govuk-visually-hidden">
                                special mention {{ data['mentionsCount']}}</span>
                        </a>
                    </dd>
                </div>
                {% endfor %}

            </dl>
            <p class="govuk-body"><a href="special-mentions/added-special-mentions">Add or remove special mentions</a>
            </p>

            {% else %}
            </dl>
            {% endif %}



            <!-- 
                    Produced documents and work certificates
                -->

            <h2 class="govuk-heading-m">Produced documents and work certificates</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Add Produced documents and work certificates?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['addDocumentsResponse'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="special-mention/add-special-mention">
                            Change<span class="govuk-visually-hidden">
                                do you need to add produced documents and work certificates</span>
                        </a>
                    </dd>
                </div>

                {% if (data['addSpecialMention'] == "Yes") %}

                {% for document in data['documentsArray'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Document {{ document.id }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ document.type }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="documents/document-type">
                            Change<span class="govuk-visually-hidden">
                                produced document {{ data['documentCount']}}</span>
                        </a>
                    </dd>
                </div>
                {% endfor %}
            </dl>

            <p class="govuk-body"><a href="documents/add-another-document">Add or remove produced documents and work
                    certificates</a></p>

            {% else %}
            </dl>
            {% endif %}


            <!-- 
                    Previous administrative references
                -->

            <h2 class="govuk-heading-m">Proof of customs status documents</h2>

            {# {% for document in data['previousDocumentsArray'] %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ document.type }}</td>
                <td class="govuk-table__cell govuk-table__cell--action"><a href="reference-type">Change</a>  |  <a href="remove-document" >Remove</a></td>
              </tr>
              {% endfor %} #}

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">

                    <dt class="govuk-summary-list__key">
                        Have proof of customs status document for item {{ data['itemNumber']}}?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['adminRefResponse'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="special-mention/add-special-mention">
                            Change<span class="govuk-visually-hidden">
                                if you have proof of union status for item {{ data['itemNumber']}}</span>
                        </a>
                    </dd>
                </div>


                {% if (data['adminRefResponse'] == "Yes") %}

                {% for document in data['previousDocumentsArray'] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Proof of customs status document {{ document.id }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ document.type }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="previous-references/reference-type">
                            Change<span class="govuk-visually-hidden">
                                proof of customs status document {{ document.id }}</span>
                        </a>
                    </dd>
                </div>
                {% endfor %}
            </dl>

            <p class="govuk-body"><a href="previous-references/add-another-document">Add or remove proof of customs status documents</a></p>
            {% else %}
            </dl>
            {% endif %}


            <!-- 
                    Safety and security
                -->

            <h2 class="govuk-heading-m">Safety and security</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">

                    {% if data['addItemsTransportCharges'] | length != "0" %}
                    <dt class="govuk-summary-list__key">
                        Payment method for transport charges
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['addItemsTransportCharges'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="security/transport-charges">
                                Change<span class="govuk-visually-hidden">
                                    the payment method you are using for the transport charges</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}

                    {% if data['addItemsCommercialReferenceNumber'] | length != "0" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Commercial reference number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['addItemsCommercialReferenceNumber'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="security/commercial-reference-number">
                                Change<span class="govuk-visually-hidden">
                                    commercial reference number</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    
                    {% if data['unGoodsCodeResponse'] | length != "0" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Know the United Nations number for dangerous goods?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['unGoodsCodeResponse'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="security/add-dangerous-goods-code">
                                Change<span class="govuk-visually-hidden">
                                    if you know the United Nations number for dangerous goods</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}

                    {% if (data['unGoodsCodeResponse'] == "Yes") %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            United Nations number for dangerous goods
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['UNDangerousGoods'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="security/dangerous-goods-code">
                                Change<span class="govuk-visually-hidden">
                                    united nations number for dangerous goods</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}

                    {% if data['addItemsIsSecurityConsignorEoriKnown'] | length != "0" %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Know the consignor's EORI number?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['addItemsIsSecurityConsignorEoriKnown'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="security/is-consignor-eori-known">
                                Change<span class="govuk-visually-hidden">
                                    if you know the security consignor’s EORI number</span>
                            </a>
                        </dd>
                    </div>

                        {% if (data['addItemsIsSecurityConsignorEoriKnown'] == "Yes") %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Security consignor’s EORI number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['addItemsSecurityConsignorEORINumber'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="security/what-is-consignor-eori">
                                    Change<span class="govuk-visually-hidden">
                                        security consignor’s EORI number</span>
                                </a>
                            </dd>
                        </div>

                        {% else %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {{data['addItemsSecurityConsignorName']}}’s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['add-items-security-consignor-number-street'] }} </br>
                                {{ data['add-items-security-consignor-town'] }} </br>
                                {{ data['add-items-security-consignor-postcode'] }} <br>
                                {{ data['add-items-security-consignor-country'] | getCountry }} <br>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="security/consignor-address">
                                    Change<span class="govuk-visually-hidden">
                                        {{data['addItemsSecurityConsignorName']}}’s address</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}
                    {% endif %}
                    
                    {% if data['addItemsIsSecurityConsigneeEoriKnown'] | length != "0" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Know the security consignee’s EORI number?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['addItemsIsSecurityConsigneeEoriKnown'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="is-consignee-eori-known">
                                Change<span class="govuk-visually-hidden">
                                    if you know the security consignee’s EORI number</span>
                            </a>
                        </dd>
                    </div>

                        {% if (data['addItemsIsSecurityConsigneeEoriKnown'] == "Yes") %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Security consignee’s EORI number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['addItemsSecurityConsigneeEORINumber'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="security/what-is-consignee-eori">
                                    Change<span class="govuk-visually-hidden">
                                        security consignee’s EORI number</span>
                                </a>
                            </dd>
                        </div>
                        {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {{data['addItemsSecurityConsigneeName']}}’s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['add-items-security-consignee-number-street'] }} </br>
                                {{ data['add-items-security-consignee-town'] }} </br>
                                {{ data['add-items-security-consignee-postcode'] }} <br>
                                {{ data['add-items-security-consignee-country'] | getCountry }} <br>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="security/consignee-address">
                                    Change<span class="govuk-visually-hidden">
                                        {{data['addItemsSecurityConsigneeName']}}’s address</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}
                    {% endif %}
                    

                </dl>



            {{ govukButton({
                text: "Save and continue"
            }) }}

            <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a></p> -->

        </form>
    </div>
</div>

{% endblock %}