{% extends "layout.html" %}

{% block pageTitle %}
  Unloading remarks journeys
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Unloading remarks journeys
      </h1>

      <h2 class="govuk-heading-l">
       Version 1
      </h2>

      <p><a href="main-seals/all-unloading-complete">Main journey with seals in unloading permission</a></p>
      <p><a href="main-no-seals/all-unloading-complete">Main journey with seals not in unloading permission</a></p>
      <p><a href="workaround-seals/state-of-seals">Workaround journey with seals in unloading permission</a></p>
      <p><a href="workaround-no-seals">Workaround journey with seals not in unloading permission</a></p>

    </div>
  </div>

{% endblock %}
