{% extends "layout.html" %}

{% block pageTitle %}
View history
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">View history</h1>

                <p>Goods released on 2 December 2019 at 10:47am</p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                <p>Arrival notification rejected on 2 December 2019 at 9:21am</p>
                
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                <p>Arrival notification sent on 2 December 2019 at 9:19am</p>

            </div>
        </div>

    </main>
</div>


{% endblock %}