{% extends "layout.html" %}

{% block pageTitle %}
View history
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">View status history</h1>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Goods released
                      </dt>
                      <dd class="govuk-summary-list__value">
                        2 December 2019 at 10:19am
                      </dd>
                      
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Arrival notification sent
                      </dt>
                      <dd class="govuk-summary-list__value">
                        2 December at 10:17am
                      </dd>
                     
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Arrival notification rejected
                      </dt>
                      <dd class="govuk-summary-list__value">
                        2 December 2019 at 10:12am
                      </dd>
                      
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Arrival notification sent
                      </dt>
                      <dd class="govuk-summary-list__value">
                        2 December at 10:10am
                      </dd>
                     
                    </div>
                  </dl>

                  <p><a href="arrivals.html" class="govuk-link">Go back to arrival notifications</a></p>


            </div>
        </div>

    </main>
</div>


{% endblock %}