{% extends "layout.html" %}

{% block pageTitle %}
You have added 1 seal {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data['goodsSummary'] }}</span>
    <h1 class="govuk-heading-xl">You have added 1 Customs seal number</h1>

    <form class="form" method="post">

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: data['seal-id-details'],
              classes: "govuk-!-width-one-half"
            },
            value: {
              text: ""
            },
            actions: {
              classes: "govuk-!-width-one-third",
              items: [
                {
                  href: "seal-id-details",
                  text: "Change",
                  visuallyHiddenText: "Change seal 1"
                },
                {
                  href: "remove-seal",
                  text: "Remove",
                  visuallyHiddenText: "Remove seal 1"
                }
              ]
            }
          }
        ]
      }) }}


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changed-name",
          name: "add-another-seal",
          fieldset: {
            legend: {
              text: "Do you need to add another Customs seal number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes redirect(seal-id-details-2)",
              text: "Yes"
            },
            {
              value: "No redirect(check-answers)",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>
  </div>
</div>

{% endblock %}