{% extends "layout.html" %}

{% block pageTitle %}
What declaration do you want to create? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="add-safety-and-security" class="form" method="post">
      
      <span class="govuk-caption-xl">{{ data['movementDetails'] }}</span>
<h1 class="govuk-fieldset__legend--xl">          
  What declaration do you want to create?
</h1>
<p class="govuk-body">For mixed consignments, you will need to create separate T1 and T2 declarations. </p>
      {{ govukRadios({
        idPrefix: "declarationType",
        name: "declarationType",
        
        items: [
          {
            value: "T1",
            text: "T1 (goods originating outside the EU, such as GB)"
            },
          {
            value: "T2",
            text: "T2 (goods originating inside the EU, such as NI)"
          },
          {
            value: "T2F",
            text: "T2F"
          }
          
        
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> --></p>

    </form>

  </div>
</div>


{% endblock %}
