{% extends "layout.html" %}

{% block pageTitle %}
What was the original movement reference number (MRN) for the goods when they arrived in GB? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ data['items'] }}</span>
    <h1 class="govuk-heading-xl">What was the original movement reference number (MRN) for the goods when they arrived in GB?
    </h1>

    <form class="form" action="added-special-mentions" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        classes: "govuk-input--width-20",
        id: "originalReference",
        name: "originalReference"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
    {# <p><a href="homepage.html">Go back to manage transit movements</a></p> #}

  </div>
</div>

{% endblock %}