{% extends "layout.html" %}

{% block pageTitle %}
View history
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">History</h1>

                <h2 class="govuk-heading-m">Arrival notification rejected</h2>

                <p>2 December 2019 at 9:21am</p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">        

                <h2 class="govuk-heading-m">Arrival notification sent</h2>

                <p>2 December 2019 at 9:19am</p>

                <p><a href="../view-arrival-notification">View arrival notification</a></p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">        

            </div>
        </div>

        <p><a href="../arrivals-history.html" class="govuk-link">Go back to arrival notifications</a></p>


    </main>
</div>


{% endblock %}