{% extends "layout.html" %}

{% block pageTitle %}
Will you be pre-lodging this declaration? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post">

      <span class="govuk-caption-xl">{{ data['movementDetails'] }}</span>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "departuresPreLodge",
          name: "departuresPreLodge",
          fieldset: {
            legend: {
              text: "Will you be pre-lodging this declaration?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes, redirect(goods-agreed-location)",
              text: "Yes"
            },
            {
              value: "No, redirect(containers-used)",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

      </form>

  </div>
</div>

{% endblock %}
