{% extends "layout.html" %}

{% block pageTitle %}
Do you need to add the nationality at departure? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post" action="nationality-at-departure">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="addNationalityAtDeparture-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">{{ data['transportDetails'] }}</span>
            <h1 class="govuk-fieldset__heading">
              Do you need to add the nationality at departure?
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addNationalityAtDeparture" name="addNationalityAtDeparture" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="addNationalityAtDeparture">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addNationalityAtDeparture-2" name="addNationalityAtDeparture" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="addNationalityAtDeparture-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

  </div>
</div>

{% endblock %}