{% extends "layout.html" %}

{% block pageTitle %}
Name, registration or reference of the vehicle at departure must be added later {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ data['transportDetails'] }}</span>

    <h1 class="govuk-heading-xl">Name, registration or reference of the vehicle at departure must be added later</h1>

    <p class="govuk-body">This must be manually recorded on the Transit Accompanying Document (TAD) box 55.</p>

    <form class="form" method="post" action="nationality-at-departure-route">

        {{ govukButton({
          text: "Save and continue"
        }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

    </form>
  </div>
</div>

{% endblock %}