{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Arrival applications
    </h1>

    <p class="govuk-body"><a href="../../version-1/movement-reference">Create new arrival declaration</a></p>

    <p class="govuk-body"><a href="#simplified-procedure">View simplified procedures</a></p>

    <!--
      Normal section
    -->

    <h2 class="govuk-heading-l">Normal procedure</h2>

    <h3 class="govuk-heading-m">Movement reference number: 10GB000060100C06E0</h3>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Date updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Actions</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">21 November 2019</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="#">Delete</a></span>
      </div>
    </div>

    <br><br><br>

    <h3 class="govuk-heading-m">Movement reference number: 10GB000060100C06E0</h3>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Date updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Actions</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">21 November 2019</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="#">Delete</a></span>
      </div>
    </div>

    <br><br><br>

    <h3 class="govuk-heading-m">Movement reference number: 10GB000060100C06E0</h3>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Date updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Actions</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">21 November 2019</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="#">Delete</a></span>
      </div>
    </div>

    <br><br><br>

    <h3 class="govuk-heading-m">Movement reference number: 10GB000060100C06E0</h3>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Date updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Actions</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">21 November 2019</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="#">Delete</a></span>
      </div>
    </div>

    <br><br><br>

    <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

    <!--
      Simplified section
    -->

    <h2 class="govuk-heading-l" id="simplified-procedure">Simplified procedure</h2>

    <h3 class="govuk-heading-m">Movement reference number: 10GB000060100C06E0</h3>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Date updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Actions</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">21 November 2019</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="#">Delete</a></span>
      </div>
    </div>

    <br><br><br>

    <h3 class="govuk-heading-m">Movement reference number: 10GB000060100C06E0</h3>

    <div class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Date updated</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Status</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Presenter</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Office</span>
        <span class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold">Actions</span>
      </div>
      <div class="govuk-summary-list__row">
        <span class="govuk-summary-list__value govuk-!-width-full">21 November 2019</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Unloading permission granted</a></span>
        <span class="govuk-summary-list__value govuk-!-width-full">Corleone</span>
        <span class="govuk-summary-list__value govuk-!-width-full">GB000060</span>
        <span class="govuk-summary-list__value govuk-!-width-full"><a href="#">Continue</a><br><a href="#">Delete</a></span>
      </div>
    </div>

    <br><br><br>


  </div>
</div>
{% endblock %}
