{% extends "layout.html" %}

{% block pageTitle %}
  Arrival notification sent {{ data['pageTitleAddOn' ]}}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% set mainClasses = "govuk-main-wrapper--l" %}

    {% from "govuk/components/panel/macro.njk" import govukPanel %}

    {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: "Arrival notification sent",
          html: "for movement reference number <strong>19GB00005112345678</strong>"  
        }) }}

        <p class="govuk-body"></p>

        <h2 class="govuk-heading-m">What happens next</h2>
      
        <p class="govuk-body"><a href="../version-4/arrivals-history.html" class="govuk-link">Check the status of arrival notifications</a> and find out when goods are released. </p>

        <p class="govuk-body">If the goods are not released or you have another problem, contact Customs at Teesport, telephone 01642 440 111.</p> 
        
        <!--Or should this link to https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries as ladine/simon!-->

      </div>
    </div>

  </div>
</div>

{% endblock %}