{% extends "layout.html" %}

{% block pageTitle %}
Arrival notifications {{ data['pageTitleAddOn' ]}}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Arrival notifications
    </h1>

    <p class="govuk-body">You have no arrival notifications.</p>

    <p class="govuk-body"><a href="movement-reference">Make an arrival notification</a></p>
   
    <p class="govuk-body" style="padding-top: 15px; "><a href="homepage">Go to manage transit movements</a></p>

  </div>
</div>







{% endblock %}
