{% extends "layout.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service {{ data['pageTitleAddOn' ]}}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with this event</h1>
      
      <p class="govuk-body">You will need to answer some questions again.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="something-happened">Go back to did any events happen on the journey</a>. 
      </p>
    </div>
  </div>
{% endblock %}
