{% extends "layout.html" %}

{% block pageTitle %}
What is the name of the trader at destination?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">What is the name of the trader at destination?</h1>

    <form class="form" action="trader-eori" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        classes: "govuk-input--width-20",
        id: "trader-name",
        name: "trader-name"
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
    {# <p><a href="homepage.html">Go back to manage transit movements</a></p> #}

  </div>
</div>

{% endblock %}