{% extends "layout.html" %}

{% block pageTitle %}
What is the consignor’s address? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{ data['items'] }}</span>
    <form class="form" action="consignor-address-route" method="post">

        <h1 class="govuk-heading-xl">What is {{ data['consignorName'] }}’s address for item {{ data['itemNumber'] }}?</h1>

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          id: "consignor-number-street",
          classes: "govuk-input--width-20",
          name: "consignor-number-street"
        }) }} 

        {{ govukInput({
          label: {
            text: "Address line 2"
          },
          id: "consignor-town",
          classes: "govuk-input--width-20",
          name: "consignor-town"
        }) }} 

        {{ govukInput({
          label: {
            text: "Postal code"
          },
          id: "consignor-postcode",
          classes: "govuk-input--width-20",
          name: "consignor-postcode"
        }) }} 

        {{ govukSelect({
          classes: "govuk-input--width-20 autocomplete",
          label: {
            text: "Country"
          },
          id: "consignor-country",
          name: "consignor-country",
          errorMessage: form.value.error,
          items: CTCData.countries
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

    </form>

    <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.js"></script>
{% endblock %}