{% extends "layout.html" %}

{% block pageTitle %}
Are you sure you want to cancel this declaration? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
    
      <span class="govuk-caption-xl">{{ data['local-reference-number'] }}</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="cancelDeparture-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to cancel this declaration?
            </h1>
          </legend>

          <dl class="govuk-summary-list govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width: 48%">
                Local reference number
              </dt>
              <dd class="govuk-summary-list__value" style="width: 62%">
                10IT02130010005402
              </dd>
            </div>
          </dl>

          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cancelDeparture" name="cancelDeparture" type="radio" value="Yes" {{ checked("cancelDeparture", "Yes")}}>
              <label class="govuk-label govuk-radios__label" for="cancelDeparture">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cancelDeparture-2" name="cancelDeparture" type="radio" value="No" {{ checked("cancelDeparture", "No")}}>
              <label class="govuk-label govuk-radios__label" for="cancelDeparture-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

  </div>
</div>

{% endblock %}