{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form class="form" action="../task-list">

      {% set movementDetails = [] %}

        <h1 class="govuk-heading-xl">Check your answers</h1>

        {% set movementDetails = (movementDetails.push(
            {
                    key: {
                    text: "Local reference number"
                    },
                    value: {
                    text: data['local-reference-number']
                    },
                    actions: {
                    items: [
                        {
                        href: "local-reference-number",
                        text: "Change",
                        visuallyHiddenText: "Change - local reference number"
                        }
                    ]
                    }
                }, 

                {
                    key: {
                    text: "Declaration type"
                    },
                    value: {
                    text: data['declaration-type']
                    },
                    actions: {
                    items: [
                        {
                        href: "declaration-type",
                        text: "Change",
                        visuallyHiddenText: "Change - declaration type"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Security process"
                    },
                    value: {
                    text: data['security-process']
                    },
                    actions: {
                    items: [
                        {
                        href: "security",
                        text: "Change",
                        visuallyHiddenText: "Change - security process"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Procedure type"
                    },
                    value: {
                    text: data['departuresProcedureType']
                    },
                    actions: {
                    items: [
                        {
                        href: "procedure-type",
                        text: "Change",
                        visuallyHiddenText: "Change - procedure type"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Containers used"
                    },
                    value: {
                    text: data['have-you-used-containers']
                    },
                    actions: {
                    items: [
                        {
                        href: "containers-used",
                        text: "Change",
                        visuallyHiddenText: "Change - containers used"
                        }
                    ]
                    }
                }, 

                {
                    key: {
                    text: "Place of declaration"
                    },
                    value: {
                    text: data['place-of-declaration']
                    },
                    actions: {
                    items: [
                        {
                        href: "place-of-declaration",
                        text: "Change",
                        visuallyHiddenText: "Change - place of declaration"
                        }
                    ]
                    }
                },

                {
                    key: {
                    text: "Creating on behalf of someone"
                    },
                    value: {
                    text: data['on-behalf-of-someone-else']
                    },
                    actions: {
                    items: [
                        {
                        href: "declaration-for-someone-else",
                        text: "Change",
                        visuallyHiddenText: "Change - are you creating this on behalf of someone"
                        }
                      ]
                    }
                  }
                
              ), movementDetails) %}


    {% if (data['on-behalf-of-someone-else'] == "Yes") %}
        {% set movementDetails = (movementDetails.push(
                  {
                    key: {
                      text: "Your name and capacity"
                    },
                    value: {
                      html: data['representative-name'] + "<br>" + data['representative-capacity']
                    },
                    actions: {
                      items: [
                        {
                          href: "name-and-capacity",
                          text: "Change",
                          visuallyHiddenText: "Change - your name and capacity"
                        }
                      ]
                    }
                  }
        ), movementDetails) %}
    {% endif %}

    {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: movementDetails
        }) }}

    {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}