{% extends "layout.html" %}

{% block pageTitle %}
Are you creating this declaration on behalf of someone else? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post">

      <span class="govuk-caption-xl">{{ data['movementDetails'] }}</span>

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "on-behalf-of-someone-else",
          name: "on-behalf-of-someone-else",
          fieldset: {
            legend: {
              text: "Are you creating this declaration on behalf of someone else?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes, redirect(name)",
              text: "Yes"
            },
            {
              value: "No, redirect(check-your-answers)",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a>

      </form>

  </div>
</div>

{% endblock %}
