{% extends "layout.html" %}

{% block pageTitle %}
What is the nationality at departure?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- 
        If the user has selected to enter transport details at departure only they need to be directed to check your answers
    -->

    {% if (data['which-transport-details'] == "At the point of departure") %}

      <form class="form" action="../check-your-answers" method="post">

          {% from "govuk/components/input/macro.njk" import govukInput %}

          <h1 class="govuk-heading-xl">What is the nationality at departure?</h1>
          {{ govukInput({
          label: {
              text: ""
          },
          id: "nationality-at-departure",
          classes: "govuk-input--width-10",
          name: "nationality-at-departure"
          }) }}
                      

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
          text: "Save and continue"
          }) }}

      </form>

    <!-- 
        If the user has selected to enter transport details at (both) departure and at border they need to be directed to "What is the mode at the border?" 
    -->
    
    {% else %}

      <form class="form" action="mode-at-border" method="post">

          {% from "govuk/components/input/macro.njk" import govukInput %}

          <h1 class="govuk-heading-xl">What is the nationality at departure?</h1>
          {{ govukInput({
          label: {
              text: ""
          },
          id: "nationality-at-departure",
          classes: "govuk-input--width-10",
          name: "nationality-at-departure"
          }) }}
                      

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
          text: "Save and continue"
          }) }}

      </form>


    {% endif %}

    

    

  </div>
</div>

{% endblock %}