{% extends "layout.html" %}

{% block pageTitle %}
Which country did the event happen in?
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<form action="event-place" class="form" method="post">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Which country were the goods in when it happened?</h1>


      {{ govukSelect({
        classes: "govuk-input--width-20 autocomplete-country",
        label: {
          text: header,
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        id: "event-country-2",
        name: "event-country-2",
        hint: {
          text: " "
        },
        items: CTCData.countries,
        value: data['event-country']

      }) }}


      {{ govukButton({
      text: "Save and continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/location-autocomplete.js"></script>
{% endblock %}