{% extends "layout.html" %}

{% block pageTitle %}
What is the name or reference of the vehicle?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">What is the name, registration or reference of the new vehicle?</h1>

    <form class="form" action="vehicle-country" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        classes: "govuk-input--width-20",
        id: "vehicle-reference-2",
        name: "vehicle-reference-2"
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}