{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Common Transit Convention for traders
    </h1>
    <p>The prototype is a way of exploring ideas, and is subject to change.</p>
    <p>Contact <a href="mailto:ladine.cook@digital.hmrc.gov.uk">Ladine Cook</a>, <a href="mailto:adam.hindle@digital.hmrc.gov.uk">Adam Hindle</a>, <a
        href="mailto:rebecca.wood@digital.hmrc.gov.uk">Rebecca Wood</a> (interaction designers) or <a
        href="mailto:ruth.dixon@digital.hmrc.gov.uk">Ruth Dixon</a> and <a
        href="mailto:simon.spowart@digital.hmrc.gov.uk">Simon Spowart</a> (content designers) if you have any questions.</p>

    <!--
      Homepage
    -->

    <h2 class="govuk-heading-m">NCTS homepage</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">11/11/2019</td>
          <td class="govuk-table__cell">NCTS homepage ideas</td>
          <td class="govuk-table__cell"><a href="homepage/index">Versions</a></td>
        </tr>
      </tbody>
    </table>

    <!--
      Arrivals
    -->

    <h2 class="govuk-heading-m">Arrivals Journey</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">14/11/2019</td>
          <td class="govuk-table__cell">Interaction to collect if incident or transhipment</td>
          <td class="govuk-table__cell"><a href="version-1/index">Version 1</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">23/10/2019</td>
          <td class="govuk-table__cell">First draft of arrivals</td>
          <td class="govuk-table__cell"><a href="version-0/index">Version 0</a></td>
        </tr>
       
      </tbody>
    </table>

    <!--
      Departures
    -->

    <h2 class="govuk-heading-m">Departures Journey</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28/11/2019</td>
          <td class="govuk-table__cell">Version 2 of 'barebones' departures journey</td>
          <td class="govuk-table__cell"><a href="departures/version-2/task-list">Version 2</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">11/11/2019</td>
          <td class="govuk-table__cell">First draft of departures journey 1</td>
          <td class="govuk-table__cell"><a href="departures/version-1/task-list">Version 1</a></td>
        </tr>
      </tbody>
    </table>











  </div>
</div>
{% endblock %}
