{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Move goods using the Common Transit Convention
    </h1>
    
    <p>The prototype is a way of exploring ideas, and is subject to change.</p>
    <p>Contact <a href="mailto:emeka.ewule@digital.hmrc.gov.uk">Emeka Ewule</a> (interaction designer) or <a
        href="mailto:fred.jackson@digital.hmrc.gov.uk">Fred Jackson</a> (content designer) if you have any questions.</p>
    <p><a class="govuk-link" href="https://ctc-traders-postmvp.herokuapp.com">Post-MVP Prototype</a></p>

    <h2 class="govuk-heading-m">Post-MVP versions</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">03/03/2021</td>
          <td class="govuk-table__cell">Arrivals version 6</td>
          <td class="govuk-table__cell"><a href="/arrivals/version-6/triage/what-do-you-want-to-do">Start</a></td></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15/12/2020</td>
          <td class="govuk-table__cell">Unloading remarks version 6</td>
          <td class="govuk-table__cell"><a href="/unloading-remarks/version-6/index">Start</a></td></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15/12/2020</td>
          <td class="govuk-table__cell">Departures version 6</td>
          <td class="govuk-table__cell"><a href="/departures/index-v6">Start</a></td></td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Go live versions</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17/03/2020</td>
          <td class="govuk-table__cell">Arrivals version 5</td>
          <td class="govuk-table__cell"><a href="/arrivals/version-5/triage/what-do-you-want-to-do">Start</a></td></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15/12/2020</td>
          <td class="govuk-table__cell">Unloading remarks version 5</td>
          <td class="govuk-table__cell"><a href="/unloading-remarks/version-5/index">Start</a></td></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">24/11/2020</td>
          <td class="govuk-table__cell">Departures version 5</td>
          <td class="govuk-table__cell"><a href="/departures/index-v5">Start</a></td></td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Feature iterations</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">22/02/2020</td>
          <td class="govuk-table__cell">Search for movements functionality</td>
          <td class="govuk-table__cell"><a href="/iterations/movement-search/index">Start</a></td></td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Previous journey versions</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Journey</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Arrivals</td>
          <td class="govuk-table__cell"><a href="arrivals-previous-iterations">View</a></td></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Unloading remarks</td>
          <td class="govuk-table__cell"><a href="unloading-remarks-previous-iterations">View</a></td></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Departures</td>
          <td class="govuk-table__cell"><a href="departures-previous-iterations">View</a></td></td>
        </tr>
      </tbody>
    </table>





    <!-- <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">11/03/2020</td>
          <td class="govuk-table__cell">Previous design iterations for all journeys</td>
          <td class="govuk-table__cell"><a href="prototype-history">Prototype iterations</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">03/03/2020</td>
          <td class="govuk-table__cell">Journey maps using the pages (Adam Liptrot)</td>
          <td class="govuk-table__cell"><a href="arrivals/version-3/journeys.html">Journey overviews</a></td>
        </tr>
      </tbody>
    </table> -->


  </div>
</div>
{% endblock %}
