{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Prototype design iterations
    </h1>
    <!--
      Homepage
    -->

    <h2 class="govuk-heading-m">NCTS homepage</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">11/11/2019</td>
          <td class="govuk-table__cell">NCTS homepage ideas</td>
          <td class="govuk-table__cell"><a href="homepage/index">Versions</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">03/03/2020</td>
          <td class="govuk-table__cell">Journey maps using the pages</td>
          <td class="govuk-table__cell"><a href="arrivals/version-3/journeys.html">Journey overviews</a></td>
        </tr>
      </tbody>
    </table>

    

    <!--
      Arrivals
    -->

    <h2 class="govuk-heading-m">Arrivals Journey</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">05/02/2020</td>
          <td class="govuk-table__cell">Changes after Fred’s content review</td>
          <td class="govuk-table__cell"><a href="/arrivals/version-4/index">Version 4</a></td>
        </tr>  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">05/02/2020</td>
          <td class="govuk-table__cell">Any changes after Ladine left</td>
          <td class="govuk-table__cell"><a href="/arrivals/version-3/index">Version 3</a></td>
        </tr>  
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">20/12/2019</td>
          <td class="govuk-table__cell">Iteration to include seals</td>
          <td class="govuk-table__cell"><a href="/arrivals/version-2/index">Version 2</a></td>
        </tr>        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">14/11/2019</td>
          <td class="govuk-table__cell">Iteration to collect if incident or transhipment<br> and response/error messages</td>
          <td class="govuk-table__cell"><a href="/arrivals/version-1/index">Version 1</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">23/10/2019</td>
          <td class="govuk-table__cell">First draft of arrivals</td>
          <td class="govuk-table__cell"><a href="/arrivals/version-0/index">Version 0</a></td>
        </tr>
       
      </tbody>
    </table>

    <!--
      Unloading remarks
    -->

    <h2 class="govuk-heading-m">Unloading remarks Journey</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">10/02/2020</td>
          <td class="govuk-table__cell">Redesigned change/add item functionality</td>
          <td class="govuk-table__cell"><a href="unloading-remarks/version-6/index">Version 6</a></td>
        </tr>   
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">10/02/2020</td>
          <td class="govuk-table__cell">Redesigned journey</td>
          <td class="govuk-table__cell"><a href="unloading-remarks/version-5/index">Version 5</a></td>
        </tr>   
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">10/02/2020</td>
          <td class="govuk-table__cell">Start from homepage</td>
          <td class="govuk-table__cell"><a href="unloading-remarks/version-4/index">Version 4</a></td>
        </tr>    
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">05/02/2020</td>
          <td class="govuk-table__cell">Tried removing yes/no questions - didn't work</td>
          <td class="govuk-table__cell"><a href="unloading-remarks/version-3/index">Version 3</a></td>
        </tr>      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">27/01/2020</td>
          <td class="govuk-table__cell">Full journey only with new information regarding business rules.</td>
          <td class="govuk-table__cell"><a href="unloading-remarks/version-2/index">Version 2</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">14/01/2020</td>
          <td class="govuk-table__cell">Early journey ideas (both full journey and workaround)</td>
          <td class="govuk-table__cell"><a href="unloading-remarks/version-1/index">Version 1</a></td>
        </tr>
      </tbody>
    </table>

    <!--
      Departures
    -->

    <h2 class="govuk-heading-m">Departures Journey</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">28/11/2019</td>
          <td class="govuk-table__cell">Version 2 of 'barebones' departures journey</td>
          <td class="govuk-table__cell"><a href="departures/version-2/task-list">Version 2</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">11/11/2019</td>
          <td class="govuk-table__cell">First draft of departures journey 1</td>
          <td class="govuk-table__cell"><a href="departures/version-1/task-list">Version 1</a></td>
        </tr>
      </tbody>
    </table>











  </div>
</div>
{% endblock %}
