{% extends "layout.html" %}

{% block pageTitle %}
Do you need to add seal numbers?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "addSealNumbers",
        name: "addSealNumbers",
        fieldset: {
          legend: {
            text: "Do you need to add seal numbers?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes redirect(new-seal-number)",
            text: "Yes"
          },
          {
            value: "No redirect(unloading-remarks)",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}