{% extends "layout.html" %}

{% block pageTitle %}
What is the new item? {{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="unloading-remarks" method="post">

      <span class="govuk-caption-xl">{{ data['movement-reference'] }}</span>

        <h1 class="govuk-heading-xl">What is the new item?</h1>

        <span id="event-name-hint" class="govuk-hint">
          Include a description and commodity code. Get details from the invoice like item value, taxes and duty amounts.  
        </span>
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukCharacterCount({
          name: "changesToReport",
          id: "changesToReport",
          maxlength: 350,
          label: {
            text: "",
           
            classes: "govuk-heading-xl"
          }
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>


{% endblock %}