{% extends "layout.html" %}

{% block pageTitle %}
What do you need to do?
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="what-to-do-idea-1" method="post">

       <h1 class="govuk-heading-xl">What do you need to do?</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "what-do-you-need-to-do",
  name: "what-do-you-need-to-do",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "correct the movement reference number redirect(../../movement-reference)",
      text: "Correct the movement reference number"
    },
    {
      value: "delete the arrival notification redirect(delete-option-idea-1)",
      text: "Delete the arrival notification"
    }
  ]
}) }}
      
    
      {{ govukButton({
    text: "Continue"
  }) }}

    </form>

  </div>
</div>

{% endblock %}