{% extends "layout.html" %}

{% block pageTitle %}
Do you need to add safety and security details? {{ data['pageTitleAddOn']}}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="task-list" class="form" method="post">

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "securityProcess",
          name: "securityProcess",
          fieldset: {
            legend: {
              text: "Do you need to add safety and security details?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      <!-- <p class="govuk-body"><a href="#">{{ data['saveAndReturn'] }}</a><p> -->

      </form>

  </div>
</div>

{% endblock %}
