{% extends "layout.html" %}

{% block pageTitle %}
  Arrival notification sent {{ data['pageTitleAddOn' ]}}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% set mainClasses = "govuk-main-wrapper--l" %}

    {% from "govuk/components/panel/macro.njk" import govukPanel %}

    {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: "Arrival notification sent",
          html: "for movement reference number <strong>"+ data['movement-reference']+"</strong>"
        }) }}

        <p class="govuk-body"></p>

        <h2 class="govuk-heading-m">What happens next</h2>

        {% if data['where-are-the-goods'] == "AuthorisedConsignee" %}
      
        <p class="govuk-body"><a href="../version-6/arrivals-history.html" class="govuk-link">Check the status of arrival notifications</a> and find out when unloading permission has been granted.</p>

        <p class="govuk-body">If the goods are not released or you have another problem, contact Customs at Teesport, telephone 01642 440 111.</p> 

        <p class="govuk-body"><a href="../version-6/movement-reference" class="govuk-link">Make another arrival notification</a></p>

        {% else %}

        <p class="govuk-body"><a href="../version-6/arrivals-history.html" class="govuk-link">Check the status of arrival notifications</a> and find out when goods have been released.</p>

        <p class="govuk-body">If the goods are not released or you have another problem, contact Customs at Teesport, telephone 01642 440 111.</p> 

        <p class="govuk-body"><a href="../version-6/movement-reference" class="govuk-link">Make another arrival notification</a></p>

        {% endif %}


      </div>
    </div>

  </div>
</div>

{% endblock %}